<a href="https://colab.research.google.com/github/moyanke/inf1340-programmingfordatascience-fa22/blob/main/FINAL_INF1340_YankeMo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INF1340 Final Project Yanke Mo

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
df = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx')

In [ ]:
from datascience import *
import matplotlib
matplotlib.use('Agg', warn=False)
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [4]:
table_01 = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 1')
table_02= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 2')
table_03= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 3')
table_04= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 4')
table_05= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 5')
table_06= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 6')
table_annex= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='ANNEX')
table_notes= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='NOTES')

#Table One#

In [4]:
#Drop 0-15 rows
table_1_1 = table_01.drop(table_01.index[0:15])
#Rename the columns
table_1_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Both Sex',
                  '1995 Migrant Stock Both Sex','2000 Migrant Stock Both Sex','2005 Migrant Stock Both Sex',
                  '2010 Migrant Stock Both Sex','2015 Migrant Stock Both Sex','1990 Migrant Stock Male',
                  '1995 Migrant Stock Male','2000 Migrant Stock Male','2005 Migrant Stock Male','2010 Migrant Stock Male',
                  '2015 Migrant Stock Male','1990 Migrant Stock Female','1995 Migrant Stock Female','2000 Migrant Stock Female',
                  '2005 Migrant Stock Female','2010 Migrant Stock Female',
                  '2015 Migrant Stock Female']

In [5]:
#Melt Columns
tidy_table_01 = table_1_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Year",value_name="Migrant Stock")

In [ ]:
#Separate the Year cloumns into year, gemder, migrant stock
tidy_table_01=(tidy_table_01.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[18:].astype(str)).drop("Year",axis=1))
tidy_table_01.sort_values(by ='Order').reset_index().drop(columns = 'index')

In [8]:
#Remove Missing Value
missing_val = [".."]
missing = tidy_table_01.isin(missing_val)
table1_RM = tidy_table_01.mask(missing, "Missing_value")
#Remove Non-Country Variable
index_def = table1_RM[(table1_RM['Name of Country']=='WORLD')|(table1_RM['Name of Country']=='Developed regions')|(table1_RM['Name of Country']=='Developing regions')|
                                (table1_RM['Name of Country']=='Sub-Saharan Africa')|
                                (table1_RM['Name of Country']=='Africa')|
                                (table1_RM['Name of Country']=='Eastern Africa')|
                                (table1_RM['Name of Country']=='Middle Africa')|
                                (table1_RM['Name of Country']=='Northern Africa')|
                                (table1_RM['Name of Country']=='Southern Africa')|
                                (table1_RM['Name of Country']=='Western Africa')|
                                (table1_RM['Name of Country']=='Asia')|
                                (table1_RM['Name of Country']=='Central Asia')|
                                (table1_RM['Name of Country']=='Eastern Asia')|
                                (table1_RM['Name of Country']=='South-Eastern Asia')|
                                (table1_RM['Name of Country']=='Southern Asia')|
                                (table1_RM['Name of Country']=='Europe')|
                                (table1_RM['Name of Country']=='Eastern Europe')|
                                (table1_RM['Name of Country']=='Northern Europe')|
                                (table1_RM['Name of Country']=='Southern Europe')|
                                (table1_RM['Name of Country']=='Western Europe')|
                                (table1_RM['Name of Country']=='Latin America and the Caribbean')|
                                (table1_RM['Name of Country']=='Central America')|
                                (table1_RM['Name of Country']=='South America')|
                                (table1_RM['Name of Country']=='Central America')|
                                (table1_RM['Name of Country']=='Northern America')|
                                (table1_RM['Name of Country']=='Oceania')|
                                (table1_RM['Name of Country']=='Australia and New Zealand')|
                                (table1_RM['Name of Country']=='Melanesia')|
                                (table1_RM['Name of Country']=='Micronesia')|
                                (table1_RM['Name of Country']=='Polynesia')|
                                (table1_RM['Name of Country']=='Least developed countries')|
                                (table1_RM['Name of Country']=='Less developed regions excluding least developed countries')].index
table1_RMC = table1_RM.drop(index_def) 
table1_RMC

,Order,Name of Country,Notes,Country Code,Type of Data(a),Migrant Stock,year,Gender
8,9,Burundi,NaN,108,B R,333110,1990,Both Sex
9,10,Comoros,NaN,174,B,14079,1990,Both Sex
10,11,Djibouti,NaN,262,B R,122221,1990,Both Sex
11,12,Eritrea,NaN,232,I,11848,1990,Both Sex
12,13,Ethiopia,NaN,231,B R,1155390,1990,Both Sex
...,...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2460.0,2015,Female
4766,262,Tokelau,NaN,772,B,254.0,2015,Female
4767,263,Tonga,NaN,776,B,2604.0,2015,Female
4768,264,Tuvalu,NaN,798,C,63.0,2015,Female
4769,265,Wallis and Futuna Islands,NaN,876,B,1411.0,2015,Female

In [ ]:
#Visualization of table_1_Bothsexes
#Box Plot
sns.catplot(data=table1_RMC, kind="box", x="year", y="Migrant Stock", hue="Gender")

#Table_2#

In [ ]:
table_2_1 = table_02.drop(table_02.index[0:15])
#Rename Columns
table_2_1.columns=['Order','Name of Country','Notes','Country Code','1990 Total Population Both Sex',
                  '1995 Total Population Both Sex','2000 Total Population Both Sex','2005 Total Population Both Sex',
                  '2010 Total Population Both Sex','2015 Total Population Both Sex','1990 Total Population Male',
                  '1995 Total Population Male','2000 Total Population Male','2005 Total Populatio Male','2010 Total Population Male',
                  '2015 Total Population Male','1990 Total Population Female','1995 Total Population Female','2000 Total Population Female',
                  '2005 Total Population Female','2010 Total Population Female',
                  '2015 Total Population Female']
#Melt
tidy_table_02 = table_2_1.melt(id_vars=["Order","Name of Country","Notes","Country Code"],var_name="Year",value_name="Total Population")
#Split the table into year, migrant stock, and gender
tidy_table_02=(tidy_table_02.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[22:].astype(str)).drop("Year",axis=1))
tidy_table_02.sort_values(by ='Order').reset_index().drop(columns = 'index')

In [10]:
#Remove Missing Value
missing_val = [".."]
missing = tidy_table_02.isin(missing_val)
table2_RM = tidy_table_02.mask(missing, "Missing_value")
#Remove Non-Country Variable
index_def = table2_RM[(table2_RM['Name of Country']=='WORLD')|(table2_RM['Name of Country']=='Developed regions')|(table2_RM['Name of Country']=='Developing regions')|
                                (table2_RM['Name of Country']=='Sub-Saharan Africa')|
                                (table2_RM['Name of Country']=='Africa')|
                                (table2_RM['Name of Country']=='Eastern Africa')|
                                (table2_RM['Name of Country']=='Middle Africa')|
                                (table2_RM['Name of Country']=='Northern Africa')|
                                (table2_RM['Name of Country']=='Southern Africa')|
                                (table2_RM['Name of Country']=='Western Africa')|
                                (table2_RM['Name of Country']=='Asia')|
                                (table2_RM['Name of Country']=='Central Asia')|
                                (table2_RM['Name of Country']=='Eastern Asia')|
                                (table2_RM['Name of Country']=='South-Eastern Asia')|
                                (table2_RM['Name of Country']=='Southern Asia')|
                                (table2_RM['Name of Country']=='Europe')|
                                (table2_RM['Name of Country']=='Eastern Europe')|
                                (table2_RM['Name of Country']=='Northern Europe')|
                                (table2_RM['Name of Country']=='Southern Europe')|
                                (table2_RM['Name of Country']=='Western Europe')|
                                (table2_RM['Name of Country']=='Latin America and the Caribbean')|
                                (table2_RM['Name of Country']=='Central America')|
                                (table2_RM['Name of Country']=='South America')|
                                (table2_RM['Name of Country']=='Central America')|
                                (table2_RM['Name of Country']=='Northern America')|
                                (table2_RM['Name of Country']=='Oceania')|
                                (table2_RM['Name of Country']=='Australia and New Zealand')|
                                (table2_RM['Name of Country']=='Melanesia')|
                                (table2_RM['Name of Country']=='Micronesia')|
                                (table2_RM['Name of Country']=='Polynesia')|
                                (table2_RM['Name of Country']=='Least developed countries')|
                                (table2_RM['Name of Country']=='Less developed regions excluding least developed countries')].index
table2_RMC = table2_RM.drop(index_def) 
table2_RMC

,Order,Name of Country,Notes,Country Code,Total Population,year,Gender
8,9,Burundi,NaN,108,5613.141,1990,Both Sex
9,10,Comoros,NaN,174,415.144,1990,Both Sex
10,11,Djibouti,NaN,262,588.356,1990,Both Sex
11,12,Eritrea,NaN,232,3139.083,1990,Both Sex
12,13,Ethiopia,NaN,231,48057.094,1990,Both Sex
...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,93.584,2015,Female
4766,262,Tokelau,NaN,772,Missing_value,2015,Female
4767,263,Tonga,NaN,776,52.931,2015,Female
4768,264,Tuvalu,NaN,798,Missing_value,2015,Female
4769,265,Wallis and Futuna Islands,NaN,876,Missing_value,2015,Female

In [ ]:
#Visualization of table_1_Bothsexes
#Box Plot
sns.catplot(data=table2_RMC, kind="box", x="year", y="Total Population", hue="Gender")

#Table_3#

In [ ]:
table_3_1 = table_03.drop(table_03.index[0:15])
#Rename Columns
table_3_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Percentage for Both Sex',
                  '1995 Migrant Stock Percentage for Both Sex','2000 Migrant Stock Percentage for Both Sex','2005 Migrant Stock Percentage for Both Sex',
                  '2010 Migrant Stock Percentage for Both Sex','2015 Migrant Stock Percentage for Both Sex','1990 Migrant Stock Percentage for Male',
                  '1995 Migrant Stock Percentage for Male','2000 Migrant Stock Percentage for Male','2005 Migrant Stock Percentage for Male','2010 Migrant Stock Percentage for Male',
                  '2015 Migrant Stock Percentage for Male','1990 Migrant Stock Percentage for Female','1995 Migrant Stock Percentage for Female','2000 Migrant Stock Percentage for Female',
                  '2005 Migrant Stock Percentage for Female','2010 Migrant Stock Percentage for Female',
                  '2015 Migrant Stock Percentage for Female']
#Melt
tidy_table_03 = table_3_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="International Migrant Stock as Percentage of Total Population")
#Plit the Strings
tidy_table_03=(tidy_table_03.assign(year = lambda x: x.Years.str[:4].astype(str), Gender = lambda x: x.Years.str[33:].astype(str)).drop("Years",axis=1))
tidy_table_03.sort_values(by ='Order').reset_index().drop(columns = 'index')

In [ ]:
#Remove Missing Value
missing_val = [".."]
missing = tidy_table_03.isin(missing_val)
table3_RM = tidy_table_03.mask(missing, "Missing_value")
#Remove Non-Country Variable
index_def = table3_RM[(table3_RM['Name of Country']=='WORLD')|(table3_RM['Name of Country']=='Developed regions')|(table3_RM['Name of Country']=='Developing regions')|
                                (table3_RM['Name of Country']=='Sub-Saharan Africa')|
                                (table3_RM['Name of Country']=='Africa')|
                                (table3_RM['Name of Country']=='Eastern Africa')|
                                (table3_RM['Name of Country']=='Middle Africa')|
                                (table3_RM['Name of Country']=='Northern Africa')|
                                (table3_RM['Name of Country']=='Southern Africa')|
                                (table3_RM['Name of Country']=='Western Africa')|
                                (table3_RM['Name of Country']=='Asia')|
                                (table3_RM['Name of Country']=='Central Asia')|
                                (table3_RM['Name of Country']=='Eastern Asia')|
                                (table3_RM['Name of Country']=='South-Eastern Asia')|
                                (table3_RM['Name of Country']=='Southern Asia')|
                                (table3_RM['Name of Country']=='Europe')|
                                (table3_RM['Name of Country']=='Eastern Europe')|
                                (table3_RM['Name of Country']=='Northern Europe')|
                                (table3_RM['Name of Country']=='Southern Europe')|
                                (table3_RM['Name of Country']=='Western Europe')|
                                (table3_RM['Name of Country']=='Latin America and the Caribbean')|
                                (table3_RM['Name of Country']=='Central America')|
                                (table3_RM['Name of Country']=='South America')|
                                (table3_RM['Name of Country']=='Central America')|
                                (table3_RM['Name of Country']=='Northern America')|
                                (table3_RM['Name of Country']=='Oceania')|
                                (table3_RM['Name of Country']=='Australia and New Zealand')|
                                (table3_RM['Name of Country']=='Melanesia')|
                                (table3_RM['Name of Country']=='Micronesia')|
                                (table3_RM['Name of Country']=='Polynesia')|
                                (table3_RM['Name of Country']=='Least developed countries')|
                                (table3_RM['Name of Country']=='Less developed regions excluding least developed countries')].index
table3_RMC = table3_RM.drop(index_def) 
table3_RMC

In [ ]:
#Visualization of table_1_Bothsexes
#Box Plot
sns.catplot(data=table2_RMC, kind="box", x="year", y="International Migrant Stock as Percentage of Total Population", hue="Gender")

#Table_4#

In [ ]:
table_4_1 = table_04.drop(table_04.index[0:15])
#Rename the Columns
table_4_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',
                   '1990 Female Migrants Stock Percentage Performance',
                   '1995 Female Migrants Stock Percentage Performance',
                   '2000 Female Migrants Stock Percentage Performance',
                   '2005 Female Migrants Stock Percentage Performance',
                   '2010 Female Migrants Stock Percentage Performance',
                   '2015 Female Migrants Stock Percentage Performance']
#Melt
tidy_table_04 = table_4_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Female Migrants Stock Percentage Performance")
#Split the Strings
tidy_table_04=(tidy_table_04.assign(Year = lambda x: x.Years.str[:4].astype(str), Gender = lambda x: x.Years.str[5:11].astype(str)).drop("Years",axis=1))
tidy_table_04.sort_values(by ='Order').reset_index().drop(columns = 'index')

In [23]:
#Remove Missing Value
missing_val = [".."]
missing = tidy_table_04.isin(missing_val)
table4_RM = tidy_table_04.mask(missing, "Missing_value")
#Remove Non-Country Variable
index_def = table4_RM[(table4_RM['Name of Country']=='WORLD')|(table4_RM['Name of Country']=='Developed regions')|(table4_RM['Name of Country']=='Developing regions')|
                                (table4_RM['Name of Country']=='Sub-Saharan Africa')|
                                (table4_RM['Name of Country']=='Africa')|
                                (table4_RM['Name of Country']=='Eastern Africa')|
                                (table4_RM['Name of Country']=='Middle Africa')|
                                (table4_RM['Name of Country']=='Northern Africa')|
                                (table4_RM['Name of Country']=='Southern Africa')|
                                (table4_RM['Name of Country']=='Western Africa')|
                                (table4_RM['Name of Country']=='Asia')|
                                (table4_RM['Name of Country']=='Central Asia')|
                                (table4_RM['Name of Country']=='Eastern Asia')|
                                (table4_RM['Name of Country']=='South-Eastern Asia')|
                                (table4_RM['Name of Country']=='Southern Asia')|
                                (table4_RM['Name of Country']=='Europe')|
                                (table4_RM['Name of Country']=='Eastern Europe')|
                                (table4_RM['Name of Country']=='Northern Europe')|
                                (table4_RM['Name of Country']=='Southern Europe')|
                                (table4_RM['Name of Country']=='Western Europe')|
                                (table4_RM['Name of Country']=='Latin America and the Caribbean')|
                                (table4_RM['Name of Country']=='Central America')|
                                (table4_RM['Name of Country']=='South America')|
                                (table4_RM['Name of Country']=='Central America')|
                                (table4_RM['Name of Country']=='Northern America')|
                                (table4_RM['Name of Country']=='Oceania')|
                                (table4_RM['Name of Country']=='Australia and New Zealand')|
                                (table4_RM['Name of Country']=='Melanesia')|
                                (table4_RM['Name of Country']=='Micronesia')|
                                (table4_RM['Name of Country']=='Polynesia')|
                                (table4_RM['Name of Country']=='Least developed countries')|
                                (table4_RM['Name of Country']=='Less developed regions excluding least developed countries')].index
table4_RMC = table4_RM.drop(index_def) 
table4_RMC

,Order,Name of Country,Notes,Country Code,Type of Data(a),Female Migrants Stock Percentage Performance,Year,Gender
8,9,Burundi,NaN,108,B R,50.987061,1990,Female
9,10,Comoros,NaN,174,B,52.290646,1990,Female
10,11,Djibouti,NaN,262,B R,47.437838,1990,Female
11,12,Eritrea,NaN,232,I,47.434166,1990,Female
12,13,Ethiopia,NaN,231,B R,47.439047,1990,Female
...,...,...,...,...,...,...,...,...
1585,261,Samoa,NaN,882,B,49.908704,2015,Female
1586,262,Tokelau,NaN,772,B,52.156057,2015,Female
1587,263,Tonga,NaN,776,B,45.437096,2015,Female
1588,264,Tuvalu,NaN,798,C,44.680851,2015,Female
1589,265,Wallis and Futuna Islands,NaN,876,B,49.52615,2015,Female

In [ ]:
#Visualization of table_1_Bothsexes
#Box Plot
sns.catplot(data=table4_RMC, kind="box", x="year", y="Female Migrants Stock Percentage Performance", hue="Gender")

#Table_5#

In [ ]:
table_5_1 = table_05.drop(table_05.index[0:15])
#Rename the Columns
table_5_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990-1995 Annual rate of change Both Sex',
                  '1995-2000 Annual rate of change Both Sex','2000-2005 Annual rate of change Both Sex',
                  '2005-2010 Annual rate of change Both Sex','2010-2015 Annual rate of change Both Sex',
                  '1990-1995 Annual rate of change Male','1995-2000 Annual rate of change Male',
                  '2000-2005 Annual rate of change Male','2005-2010 Annual rate of change Male',
                  '2010-2015 Annual rate of change Male','1990-1995 Annual rate of change Female',
                  '1995-2000 Annual rate of change Female','2000-2005 Annual rate of change Female',
                  '2005-2010 Annual rate of change Female','2010-2015 Annual rate of change Female']
#Melt
tidy_table_05 = table_5_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Annual Rate of Change of Migrant Stock")
#Split Strings
tidy_table_05=(tidy_table_05.assign(Year_Range = lambda x: x.Years.str[:9].astype(str), Gender = lambda x: x.Years.str[31:].astype(str)).drop("Years",axis=1))
tidy_table_05.sort_values(by ='Order').reset_index().drop(columns = 'index')

In [ ]:
#Remove Missing Value
missing_val = [".."]
missing = tidy_table_05.isin(missing_val)
table5_RM = tidy_table_05.mask(missing, "Missing_value")
#Remove Non-Country Variable
index_def = table5_RM[(table5_RM['Name of Country']=='WORLD')|(table5_RM['Name of Country']=='Developed regions')|(table5_RM['Name of Country']=='Developing regions')|
                                (table5_RM['Name of Country']=='Sub-Saharan Africa')|
                                (table5_RM['Name of Country']=='Africa')|
                                (table5_RM['Name of Country']=='Eastern Africa')|
                                (table5_RM['Name of Country']=='Middle Africa')|
                                (table5_RM['Name of Country']=='Northern Africa')|
                                (table5_RM['Name of Country']=='Southern Africa')|
                                (table5_RM['Name of Country']=='Western Africa')|
                                (table5_RM['Name of Country']=='Asia')|
                                (table5_RM['Name of Country']=='Central Asia')|
                                (table5_RM['Name of Country']=='Eastern Asia')|
                                (table5_RM['Name of Country']=='South-Eastern Asia')|
                                (table5_RM['Name of Country']=='Southern Asia')|
                                (table5_RM['Name of Country']=='Europe')|
                                (table5_RM['Name of Country']=='Eastern Europe')|
                                (table5_RM['Name of Country']=='Northern Europe')|
                                (table5_RM['Name of Country']=='Southern Europe')|
                                (table5_RM['Name of Country']=='Western Europe')|
                                (table5_RM['Name of Country']=='Latin America and the Caribbean')|
                                (table5_RM['Name of Country']=='Central America')|
                                (table5_RM['Name of Country']=='South America')|
                                (table5_RM['Name of Country']=='Central America')|
                                (table5_RM['Name of Country']=='Northern America')|
                                (table5_RM['Name of Country']=='Oceania')|
                                (table5_RM['Name of Country']=='Australia and New Zealand')|
                                (table5_RM['Name of Country']=='Melanesia')|
                                (table5_RM['Name of Country']=='Micronesia')|
                                (table5_RM['Name of Country']=='Polynesia')|
                                (table5_RM['Name of Country']=='Least developed countries')|
                                (table5_RM['Name of Country']=='Less developed regions excluding least developed countries')].index
table5_RMC = table5_RM.drop(index_def) 
table5_RMC

In [ ]:
#Visualization of table_1_Bothsexes
#Box Plot
sns.catplot(data=table5_RMC, kind="box", x="year", y="Annual Rate of Change of Migrant Stock", hue="Gender")

#Table_6#

In [ ]:
table_6_1 = table_06.drop(table_06.index[0:15])
#Rename Columns
table_6_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Estimated refugee stock at mid-year both sexes',
                  '1995 Estimated refugee stock at mid-year both sexes','2000 1995 Estimated refugee stock at mid-year both sexes',
                  '2005 1995 Estimated refugee stock at mid-year both sexes',
                  '2010 1995 Estimated refugee stock at mid-year both sexes','2015 1995 Estimated refugee stock at mid-year both sexes',
                  '1990 Refugees as a percentage of the international migrant stock',
                  '1995 Refugees as a percentage of the international migrant stock',
                  '2000 Refugees as a percentage of the international migrant stock',
                  '2005 Refugees as a percentage of the international migrant stock',
                  '2010 Refugees as a percentage of the international migrant stock',
                  '2015 Refugees as a percentage of the international migrant stock',
                  '1990-1995 Annual rate of change of the refugee stock',
                  '1995-2000 Annual rate of change of the refugee stocke',
                  '2000-2005 Annual rate of change of the refugee stock',
                  '2005-2010 Annual rate of change of the refugee stock',
                  '2010-2015 Annual rate of change of the refugee stock']
#Melt
tidy_table_06 = table_6_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Refugee Stocks")
#Split String
tidy_table_06[['Year', 'Annual_Rate_of_Change']] = tidy_table_06['Years'].str.split(' ', 1, expand=True)
tidy_table_06.drop("Years",axis=1)
tidy_table_06["Gender"] = tidy_table_06.Annual_Rate_of_Change.apply(lambda x: "Both Sexes" if "both sexes" in x else "NaN")
table_06_1 = tidy_table_06.drop("Annual_Rate_of_Change",axis=1)
table_06_1_1 = table_06_1.drop("Years",axis=1)
table_06_1_1

In [ ]:
#Remove Missing Value
missing_val = [".."]
missing = table_06_1_1.isin(missing_val)
table6_RM = table_06_1_1.mask(missing, "Missing_value")
#Remove Non-Country Variable
index_def = table6_RM[(table6_RM['Name of Country']=='WORLD')|(table6_RM['Name of Country']=='Developed regions')|(table6_RM['Name of Country']=='Developing regions')|
                                (table6_RM['Name of Country']=='Sub-Saharan Africa')|
                                (table6_RM['Name of Country']=='Africa')|
                                (table6_RM['Name of Country']=='Eastern Africa')|
                                (table6_RM['Name of Country']=='Middle Africa')|
                                (table6_RM['Name of Country']=='Northern Africa')|
                                (table6_RM['Name of Country']=='Southern Africa')|
                                (table6_RM['Name of Country']=='Western Africa')|
                                (table6_RM['Name of Country']=='Asia')|
                                (table6_RM['Name of Country']=='Central Asia')|
                                (table6_RM['Name of Country']=='Eastern Asia')|
                                (table6_RM['Name of Country']=='South-Eastern Asia')|
                                (table6_RM['Name of Country']=='Southern Asia')|
                                (table6_RM['Name of Country']=='Europe')|
                                (table6_RM['Name of Country']=='Eastern Europe')|
                                (table6_RM['Name of Country']=='Northern Europe')|
                                (table6_RM['Name of Country']=='Southern Europe')|
                                (table6_RM['Name of Country']=='Western Europe')|
                                (table6_RM['Name of Country']=='Latin America and the Caribbean')|
                                (table6_RM['Name of Country']=='Central America')|
                                (table6_RM['Name of Country']=='South America')|
                                (table6_RM['Name of Country']=='Central America')|
                                (table6_RM['Name of Country']=='Northern America')|
                                (table6_RM['Name of Country']=='Oceania')|
                                (table6_RM['Name of Country']=='Australia and New Zealand')|
                                (table6_RM['Name of Country']=='Melanesia')|
                                (table6_RM['Name of Country']=='Micronesia')|
                                (table6_RM['Name of Country']=='Polynesia')|
                                (table6_RM['Name of Country']=='Least developed countries')|
                                (table6_RM['Name of Country']=='Less developed regions excluding least developed countries')].index
table6_RMC = table6_RM.drop(index_def) 
table6_RMC

In [ ]:
#Visualization of table_1_Bothsexes
#Box Plot
sns.catplot(data=table5_RMC, kind="box", x="year", y="Annual Rate of Change of Migrant Stock", hue="Gender")