<a href="https://colab.research.google.com/github/maidahshah/inf1340-programmingfordatascience-fa22/blob/main/INF1340_Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# this is a comment
a = 2
print(a)

2

In [ ]:
# this is another cell
# string variable
b = "this is a string"
print(b)

this is a string

In [ ]:
# simple operations
c = 4
d = 5
e = c + d
print(e)

9

In [ ]:
f = d * c
print(f)

20

In [ ]:
g = ((a+c) ^2) * d # ^ as exponent or **
print(g)

20

In [ ]:
# concatenation
h = "this is another string"
print(b+" "+h) # test

this is a string this is another string

In [ ]:
#modulus
i = f % 3
print(i)

2

In [ ]:
a = 2
b = 4
# 0 = false, 1 = true
# if a = 2 and b = 3 --> 0
# if a = 2 or b = 3 --> 1
# not a = 3 --> 1

In [ ]:
print(10 > 9)

True

In [ ]:
print(10==9) # == means not equivalent (boolean text), = means equality (assignment)

False

In [ ]:
# in python, && is and, ll is or, ! is not

In [ ]:
# importing
import numpy
import numpy as np
from numpy import *
from numpy import dplyrr
import pandas as pd
from pd import * # these commands usually go to the beginning of the table

In [ ]:
x = 2
y = 3
z = print(x==y)
print(z)

False
None

In [ ]:
print(4+3%(5-2))

4

In [ ]:
x = 2
y = 3
z = print(x==y)
print(z)

False
None

In [ ]:
print(4+3%(5-2))

4

In [ ]:
from math import pi

In [ ]:
from math import pi, sqrt

In [ ]:
from math import *

In [ ]:
from cmath import sqrt as csqrt

In [ ]:
import math as m