<a href="https://colab.research.google.com/github/moyanke/inf1340-programmingfordatascience-fa22/blob/main/MID__Sub_YankeMo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
df = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx')

In [ ]:
table_01 = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 1')
table_02= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 2')
table_03= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 3')
table_04= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 4')
table_05= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 5')
table_06= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 6')
table_annex= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='ANNEX')
table_notes= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='NOTES')

In [42]:
table_01

,Order,Name of Area,Notes,Country Code,Type of Data(a),1990 Migrant Stock Both Sex,1995 Migrant Stock Both Sex,2000 Migrant Stock Both Sex,2005 Migrant Stock Both Sex,2010 Migrant Stock Both Sex,...,2000 Migrant Stock(male),2005 Migrant Stock(male),2010 Migrant Stock(male),2015 Migrant Stock(male),1990 Migrant Stock(female),1995 Migrant Stock(female),2000 Migrant Stock(female),2005 Migrant Stock(female),2010 Migrant Stock(female),2015 Migrant Stock(female)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,United Nations,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Population Division,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,3357,4694,5998,5746,5122.0,...,3101,2940,2594.0,2469.0,1586,2243,2897,2806,2528.0,2460.0
276,262,Tokelau,NaN,772,B,270,266,262,258,429.0,...,144,133,206.0,233.0,120,119,118,125,223.0,254.0
277,263,Tonga,NaN,776,B,2911,3274,3684,4301,5022.0,...,1981,2328,2727.0,3127.0,1423,1556,1703,1973,2295.0,2604.0
278,264,Tuvalu,NaN,798,C,318,263,217,183,154.0,...,121,101,85.0,78.0,138,115,96,82,69.0,63.0
279,265,Wallis and Futuna Islands,NaN,876,B,1402,1680,2015,2365,2776.0,...,1018,1194,1401.0,1438.0,676,821,997,1171,1375.0,1411.0

In [43]:
table_1_1 = table_01.drop(table_01.index[0:15])
table_1_1 #Drop 0-15 rows

,Order,Name of Area,Notes,Country Code,Type of Data(a),1990 Migrant Stock Both Sex,1995 Migrant Stock Both Sex,2000 Migrant Stock Both Sex,2005 Migrant Stock Both Sex,2010 Migrant Stock Both Sex,...,2000 Migrant Stock(male),2005 Migrant Stock(male),2010 Migrant Stock(male),2015 Migrant Stock(male),1990 Migrant Stock(female),1995 Migrant Stock(female),2000 Migrant Stock(female),2005 Migrant Stock(female),2010 Migrant Stock(female),2015 Migrant Stock(female)
15,1,WORLD,NaN,900,NaN,152563212,160801752,172703309,191269100,221714243.0,...,87884839,97866674,114613714.0,126115435.0,74815702,79064275,84818470,93402426,107100529.0,117584801.0
16,2,Developed regions,(b),901,NaN,82378628,92306854,103375363,117181109,132560325.0,...,50536796,57217777,64081077.0,67618619.0,42115231,47214055,52838567,59963332,68479248.0,72863336.0
17,3,Developing regions,(c),902,NaN,70184584,68494898,69327946,74087991,89153918.0,...,37348043,40648897,50532637.0,58496816.0,32700471,31850220,31979903,33439094,38621281.0,44721465.0
18,4,Least developed countries,(d),941,NaN,11075966,11711703,10077824,9809634,10018128.0,...,5361902,5383009,5462714.0,6463217.0,5236216,5573685,4721920,4432371,4560536.0,5493028.0
19,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,56778501,59244124,64272611,79130668.0,...,31986141,35265888,45069923.0,52033599.0,27464255,26276535,27257983,29006723,34060745.0,39228437.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,3357,4694,5998,5746,5122.0,...,3101,2940,2594.0,2469.0,1586,2243,2897,2806,2528.0,2460.0
276,262,Tokelau,NaN,772,B,270,266,262,258,429.0,...,144,133,206.0,233.0,120,119,118,125,223.0,254.0
277,263,Tonga,NaN,776,B,2911,3274,3684,4301,5022.0,...,1981,2328,2727.0,3127.0,1423,1556,1703,1973,2295.0,2604.0
278,264,Tuvalu,NaN,798,C,318,263,217,183,154.0,...,121,101,85.0,78.0,138,115,96,82,69.0,63.0
279,265,Wallis and Futuna Islands,NaN,876,B,1402,1680,2015,2365,2776.0,...,1018,1194,1401.0,1438.0,676,821,997,1171,1375.0,1411.0

In [ ]:
table_1_1.columns

Index(['Order', 'Name of Area', 'Notes', 'Country Code', 'Type of Data(a)',
       '1990 Migrant Stock Both Sex', '1995 Migrant Stock Both Sex',
       '2000 Migrant Stock Both Sex', '2005 Migrant Stock Both Sex',
       '2010 Migrant Stock Both Sex', '2015 Migrant Stock Both Sex',
       '1990 Migrant Stock(male)', '1995 Migrant Stock(male)',
       '2000 Migrant Stock(male)', '2005 Migrant Stock(male)',
       '2010 Migrant Stock(male)', '2015 Migrant Stock(male)',
       '1990 Migrant Stock(female)', '1995 Migrant Stock(female)',
       '2000 Migrant Stock(female)', '2005 Migrant Stock(female)',
       '2010 Migrant Stock(female)', '2015 Migrant Stock(female)'],
      dtype='object')

In [45]:
table_1_1.columns=['Order','Name of Area','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Both Sex',
                  '1995 Migrant Stock Both Sex','2000 Migrant Stock Both Sex','2005 Migrant Stock Both Sex',
                  '2010 Migrant Stock Both Sex','2015 Migrant Stock Both Sex','1990 Migrant Stock Male',
                  '1995 Migrant Stock Male','2000 Migrant Stock Male','2005 Migrant Stock Male','2010 Migrant Stock Male',
                  '2015 Migrant Stock Male','1990 Migrant Stock Female','1995 Migrant Stock Female)','2000 Migrant Stock Female',
                  '2005 Migrant Stock Female','2010 Migrant Stock Female',
                  '2015 Migrant Stock Female']

In [46]:
table_1_1#rename the columns

,Order,Name of Area,Notes,Country Code,Type of Data(a),1990 Migrant Stock Both Sex,1995 Migrant Stock Both Sex,2000 Migrant Stock Both Sex,2005 Migrant Stock Both Sex,2010 Migrant Stock Both Sex,...,2000 Migrant Stock Male,2005 Migrant Stock Male,2010 Migrant Stock Male,2015 Migrant Stock Male,1990 Migrant Stock Female,1995 Migrant Stock Female),2000 Migrant Stock Female,2005 Migrant Stock Female,2010 Migrant Stock Female,2015 Migrant Stock Female
15,1,WORLD,NaN,900,NaN,152563212,160801752,172703309,191269100,221714243.0,...,87884839,97866674,114613714.0,126115435.0,74815702,79064275,84818470,93402426,107100529.0,117584801.0
16,2,Developed regions,(b),901,NaN,82378628,92306854,103375363,117181109,132560325.0,...,50536796,57217777,64081077.0,67618619.0,42115231,47214055,52838567,59963332,68479248.0,72863336.0
17,3,Developing regions,(c),902,NaN,70184584,68494898,69327946,74087991,89153918.0,...,37348043,40648897,50532637.0,58496816.0,32700471,31850220,31979903,33439094,38621281.0,44721465.0
18,4,Least developed countries,(d),941,NaN,11075966,11711703,10077824,9809634,10018128.0,...,5361902,5383009,5462714.0,6463217.0,5236216,5573685,4721920,4432371,4560536.0,5493028.0
19,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,56778501,59244124,64272611,79130668.0,...,31986141,35265888,45069923.0,52033599.0,27464255,26276535,27257983,29006723,34060745.0,39228437.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,3357,4694,5998,5746,5122.0,...,3101,2940,2594.0,2469.0,1586,2243,2897,2806,2528.0,2460.0
276,262,Tokelau,NaN,772,B,270,266,262,258,429.0,...,144,133,206.0,233.0,120,119,118,125,223.0,254.0
277,263,Tonga,NaN,776,B,2911,3274,3684,4301,5022.0,...,1981,2328,2727.0,3127.0,1423,1556,1703,1973,2295.0,2604.0
278,264,Tuvalu,NaN,798,C,318,263,217,183,154.0,...,121,101,85.0,78.0,138,115,96,82,69.0,63.0
279,265,Wallis and Futuna Islands,NaN,876,B,1402,1680,2015,2365,2776.0,...,1018,1194,1401.0,1438.0,676,821,997,1171,1375.0,1411.0

In [63]:
tidy_table_01 = table_1_1.melt(id_vars=["Order","Name of Area","Notes","Country Code","Type of Data(a)"],var_name="Year",value_name="Migrant Stock")

In [58]:
tidy_table_01

,Order,Name of Area,Notes,Country Code,Type of Data(a),Migrant Stock,year,Gender
0,1,WORLD,NaN,900,NaN,152563212,1,0 Migrant Stock Both Sex
1,2,Developed regions,(b),901,NaN,82378628,1,0 Migrant Stock Both Sex
2,3,Developing regions,(c),902,NaN,70184584,1,0 Migrant Stock Both Sex
3,4,Least developed countries,(d),941,NaN,11075966,1,0 Migrant Stock Both Sex
4,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,1,0 Migrant Stock Both Sex
...,...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2460.0,2,5 Migrant Stock Female
4766,262,Tokelau,NaN,772,B,254.0,2,5 Migrant Stock Female
4767,263,Tonga,NaN,776,B,2604.0,2,5 Migrant Stock Female
4768,264,Tuvalu,NaN,798,C,63.0,2,5 Migrant Stock Female
4769,265,Wallis and Futuna Islands,NaN,876,B,1411.0,2,5 Migrant Stock Female

In [64]:
tidy_table_01=(tidy_table_01.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[18:].astype(str)).drop("Year",axis=1))
tidy_table_01

,Order,Name of Area,Notes,Country Code,Type of Data(a),Migrant Stock,year,Gender
0,1,WORLD,NaN,900,NaN,152563212,1990,Both Sex
1,2,Developed regions,(b),901,NaN,82378628,1990,Both Sex
2,3,Developing regions,(c),902,NaN,70184584,1990,Both Sex
3,4,Least developed countries,(d),941,NaN,11075966,1990,Both Sex
4,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,1990,Both Sex
...,...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2460.0,2015,Female
4766,262,Tokelau,NaN,772,B,254.0,2015,Female
4767,263,Tonga,NaN,776,B,2604.0,2015,Female
4768,264,Tuvalu,NaN,798,C,63.0,2015,Female
4769,265,Wallis and Futuna Islands,NaN,876,B,1411.0,2015,Female