<a href="https://colab.research.google.com/github/moyanke/inf1340-programmingfordatascience-fa22/blob/main/MID__Sub_YankeMo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
df = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx')

In [24]:
table_01 = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 1')
table_02= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 2')
table_03= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 3')
table_04= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 4')
table_05= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 5')
table_06= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 6')
table_annex= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='ANNEX')
table_notes= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='NOTES')

In [ ]:
table_01

In [ ]:
table_1_1 = table_01.drop(table_01.index[0:15])
table_1_1 #Drop 0-15 rows

In [ ]:
table_1_1.columns

In [44]:
table_1_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Both Sex',
                  '1995 Migrant Stock Both Sex','2000 Migrant Stock Both Sex','2005 Migrant Stock Both Sex',
                  '2010 Migrant Stock Both Sex','2015 Migrant Stock Both Sex','1990 Migrant Stock Male',
                  '1995 Migrant Stock Male','2000 Migrant Stock Male','2005 Migrant Stock Male','2010 Migrant Stock Male',
                  '2015 Migrant Stock Male','1990 Migrant Stock Female','1995 Migrant Stock Female','2000 Migrant Stock Female',
                  '2005 Migrant Stock Female','2010 Migrant Stock Female',
                  '2015 Migrant Stock Female']

In [ ]:
table_1_1 #rename the columns

In [45]:
tidy_table_01 = table_1_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Year",value_name="Migrant Stock")

In [ ]:
tidy_table_01

In [ ]:
tidy_table_01=(tidy_table_01.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[18:].astype(str)).drop("Year",axis=1))
tidy_table_01.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
tidy_table_01 = tidy_table_01.set_index(["Order","Name of Country","Notes", "Country Code", "Type of Data(a)","Gender","year"])
tidy_table_01

##########Table_02##########

In [ ]:
table_02

In [ ]:
table_2_1 = table_02.drop(table_02.index[0:15])
table_2_1 #Drop 0-15 rows

In [ ]:
table_2_1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [50]:
table_2_1.columns=['Order','Name of Country','Notes','Country Code','1990 Total Population Both Sex',
                  '1995 Total Population Both Sex','2000 Total Population Both Sex','2005 Total Population Both Sex',
                  '2010 Total Population Both Sex','2015 Total Population Both Sex','1990 Total Population Male',
                  '1995 Total Population Male','2000 Total Population Male','2005 Total Populatio Male','2010 Total Population Male',
                  '2015 Total Population Male','1990 Total Population Female','1995 Total Population Female','2000 Total Population Female',
                  '2005 Total Population Female','2010 Total Population Female',
                  '2015 Total Population Female']

In [ ]:
table_2_1

In [51]:
tidy_table_02 = table_2_1.melt(id_vars=["Order","Name of Country","Notes","Country Code"],var_name="Year",value_name="Total Population")

In [ ]:
tidy_table_02

In [ ]:
tidy_table_02=(tidy_table_02.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[22:].astype(str)).drop("Year",axis=1))
tidy_table_02.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock #Separate the Year cloumns into year, gemder, total population

In [54]:
tidy_table_02 = tidy_table_02.set_index(["Order","Name of Country","Notes", "Country Code", "Gender","year"])
tidy_table_02

                                                                                          Total Population
Order Name of Country                                    Notes Country Code Gender   year
1     WORLD                                              NaN   900          Both Sex 1990      5309667.699
2     Developed regions                                  (b)   901          Both Sex 1990      1144463.062
3     Developing regions                                 (c)   902          Both Sex 1990      4165204.637
4     Least developed countries                          (d)   941          Both Sex 1990       510057.629
5     Less developed regions excluding least develope... NaN   934          Both Sex 1990      3655147.008
...                                                                                                    ...
261   Samoa                                              NaN   882          Female   2015           93.584
262   Tokelau                                            NaN   772          Female   2015               ..
263   Tonga                                              NaN   776          Female   2015           52.931
264   Tuvalu                                             NaN   798          Female   2015               ..
265   Wallis and Futuna Islands                          NaN   876          Female   2015               ..

[4770 rows x 1 columns]

maybe we can split 1990, 1995, 2000...into different column,based on the 
notebooks in the Guthub, can we used NaN in it.

In [ ]:
#write up of what violation you find, five page at least with picture. 
#use table_01.set_index("Name of area", inpplace = True)把name of area 变成中心指标

##########Table_03##########

In [ ]:
table_03

In [ ]:
table_3_1 = table_03.drop(table_03.index[0:15])
table_3_1 #Drop 0-15 rows

In [56]:
table_3_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Percentage for Both Sex',
                  '1995 Migrant Stock Percentage for Both Sex','2000 Migrant Stock Percentage for Both Sex','2005 Migrant Stock Percentage for Both Sex',
                  '2010 Migrant Stock Percentage for Both Sex','2015 Migrant Stock Percentage for Both Sex','1990 Migrant Stock Percentage for Male',
                  '1995 Migrant Stock Percentage for Male','2000 Migrant Stock Percentage for Male','2005 Migrant Stock Percentage for Male','2010 Migrant Stock Percentage for Male',
                  '2015 Migrant Stock Percentage for Male','1990 Migrant Stock Percentage for Female','1995 Migrant Stock Percentage for Female','2000 Migrant Stock Percentage for Female',
                  '2005 Migrant Stock Percentage for Female','2010 Migrant Stock Percentage for Female',
                  '2015 Migrant Stock Percentage for Female']

In [ ]:
table_3_1

In [57]:
tidy_table_03 = table_3_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="International Migrant Stock as Percentage of Total Population")

In [ ]:
tidy_table_03

In [ ]:
tidy_table_03=(tidy_table_03.assign(year = lambda x: x.Years.str[:4].astype(str), Gender = lambda x: x.Years.str[33:].astype(str)).drop("Years",axis=1))
tidy_table_03.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
tidy_table_03 = tidy_table_03.set_index(["Order","Name of Country","Notes", "Country Code", "Type of Data(a)","Gender","year"])
tidy_table_03

########Table_4##########

In [ ]:
table_04

In [ ]:
table_4_1 = table_04.drop(table_04.index[0:15])
table_4_1 #Drop 0-15 rows

In [61]:
table_4_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',
                   '1990 Female Migrants Stock Percentage Performance',
                   '1995 Female Migrants Stock Percentage Performance',
                   '2000 Female Migrants Stock Percentage Performance',
                   '2005 Female Migrants Stock Percentage Performance',
                   '2010 Female Migrants Stock Percentage Performance',
                   '2015 Female Migrants Stock Percentage Performance']

In [62]:
tidy_table_04 = table_4_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Female Migrants Stock Percentage Performance")

In [ ]:
tidy_table_04

In [ ]:
tidy_table_04=(tidy_table_04.assign(Year = lambda x: x.Years.str[:4].astype(str), Gender = lambda x: x.Years.str[5:11].astype(str)).drop("Years",axis=1))
tidy_table_04.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
tidy_table_04 = tidy_table_04.set_index(["Order","Name of Country","Notes", "Country Code", "Type of Data(a)","Gender","Year"])
tidy_table_04

###########Table_5############

In [ ]:
table_05

In [ ]:
table_5_1 = table_05.drop(table_05.index[0:15])
table_5_1 #Drop 0-15 rows

In [79]:
table_5_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990-1995 Annual rate of change Both Sex',
                  '1995-2000 Annual rate of change Both Sex','2000-2005 Annual rate of change Both Sex',
                  '2005-2010 Annual rate of change Both Sex','2010-2015 Annual rate of change Both Sex',
                  '1990-1995 Annual rate of change Male','1995-2000 Annual rate of change Male',
                  '2000-2005 Annual rate of change Male','2005-2010 Annual rate of change Male',
                  '2010-2015 Annual rate of change Male','1990-1995 Annual rate of change Female',
                  '1995-2000 Annual rate of change Female','2000-2005 Annual rate of change Female',
                  '2005-2010 Annual rate of change Female','2010-2015 Annual rate of change Female']

In [80]:
tidy_table_05 = table_5_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Annual Rate of Change of Migrant Stock")

In [ ]:
tidy_table_05

In [81]:
tidy_table_05=(tidy_table_05.assign(Year_Range = lambda x: x.Years.str[:8].astype(str), Gender = lambda x: x.Years.str[31:].astype(str)).drop("Years",axis=1))
tidy_table_05.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

,Order,Name of Country,Notes,Country Code,Type of Data(a),Annual Rate of Change of Migrant Stock,Year_Range,Gender
0,1,WORLD,NaN,900,NaN,1.051865,1990-199,Both Sex
1,1,WORLD,NaN,900,NaN,1.428058,1995-200,Both Sex
2,1,WORLD,NaN,900,NaN,1.867837,2010-201,Female
3,1,WORLD,NaN,900,NaN,2.737012,2005-201,Female
4,1,WORLD,NaN,900,NaN,2.042124,2000-200,Both Sex
...,...,...,...,...,...,...,...,...
3970,265,Wallis and Futuna Islands,NaN,876,B,3.364378,1990-199,Male
3971,265,Wallis and Futuna Islands,NaN,876,B,3.886601,1990-199,Female
3972,265,Wallis and Futuna Islands,NaN,876,B,3.20466,2005-201,Both Sex
3973,265,Wallis and Futuna Islands,NaN,876,B,3.217252,2000-200,Female
3974,265,Wallis and Futuna Islands,NaN,876,B,0.516899,2010-201,Female

In [82]:
tidy_table_05 = tidy_table_05.set_index(["Order","Name of Country","Notes", "Country Code", "Type of Data(a)","Gender","Year_Range"])
tidy_table_05

                                                                                                                 Annual Rate of Change of Migrant Stock
Order Name of Country                                    Notes Country Code Type of Data(a) Gender    Year_Range
1     WORLD                                              NaN   900          NaN              Both Sex 1990-199                                 1.051865
2     Developed regions                                  (b)   901          NaN              Both Sex 1990-199                                 2.275847
3     Developing regions                                 (c)   902          NaN              Both Sex 1990-199                                -0.487389
4     Least developed countries                          (d)   941          NaN              Both Sex 1990-199                                 1.118175
5     Less developed regions excluding least develope... NaN   934          NaN              Both Sex 1990-199                                -0.803244
...                                                                                                                                                 ...
261   Samoa                                              NaN   882          B                Female   2010-201                                -0.545343
262   Tokelau                                            NaN   772          B                Female   2010-201                                  2.60325
263   Tonga                                              NaN   776          B                Female   2010-201                                 2.526318
264   Tuvalu                                             NaN   798          C                Female   2010-201                                -1.819436
265   Wallis and Futuna Islands                          NaN   876          B                Female   2010-201                                 0.516899

[3975 rows x 1 columns]

#########Table_06#########

In [ ]:
table_06

In [110]:
table_6_1 = table_06.drop(table_06.index[0:15])
table_6_1 #Drop 0-15 rows

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
15,1,WORLD,NaN,900,NaN,18836571,17853840,15827803,13276733,15370755.0,...,11.103013,9.164736,6.941389,6.932687,8.033424,-2.123497,-3.837069,-5.557223,-0.025089,2.947267
16,2,Developed regions,(b),901,NaN,2014564,3609670,2997256,2361229,2046917.0,...,3.910511,2.899391,2.015025,1.544140,1.391085,9.388424,-5.983348,-7.277379,-5.323293,-2.087656
17,3,Developing regions,(c),902,NaN,16822007,14244170,12830547,10915504,13323838.0,...,20.795958,18.507035,14.733162,14.944759,17.073768,-2.839417,-2.332154,-4.561,0.285195,2.663652
18,4,Least developed countries,(d),941,NaN,5048391,5160131,3047488,2363782,1957884.0,...,44.041961,30.221557,24.08243,19.533425,28.801534,-0.680327,-7.531747,-4.541459,-4.187109,7.766031
19,5,Less developed regions excluding least develop...,NaN,934,NaN,11773616,9084039,9783059,8551722,11365954.0,...,15.999082,16.51313,13.305391,14.363526,15.537313,-4.3836,0.632489,-4.319731,1.530456,1.571047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,0,0,0,0,0.0,...,0,0,0,0.000000,0.000000,..,..,..,..,..
276,262,Tokelau,NaN,772,B,0,0,0,0,0.0,...,0,0,0,0.000000,0.000000,..,..,..,..,..
277,263,Tonga,NaN,776,B,0,0,0,0,0.0,...,0,0,0,0.000000,0.000000,..,..,..,..,..
278,264,Tuvalu,NaN,798,C,0,0,0,0,0.0,...,0,0,0,0.000000,0.000000,..,..,..,..,..
279,265,Wallis and Futuna Islands,NaN,876,B,0,0,0,0,0.0,...,0,0,0,0.000000,0.000000,..,..,..,..,..

In [111]:
table_6_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Estimated refugee stock at mid-year both sexes',
                  '1995 Estimated refugee stock at mid-year both sexes','2000 1995 Estimated refugee stock at mid-year both sexes',
                  '2005 1995 Estimated refugee stock at mid-year both sexes',
                  '2010 1995 Estimated refugee stock at mid-year both sexes','2015 1995 Estimated refugee stock at mid-year both sexes',
                  '1990 Refugees as a percentage of the international migrant stock',
                  '1995 Refugees as a percentage of the international migrant stock',
                  '2000 Refugees as a percentage of the international migrant stock',
                  '2005 Refugees as a percentage of the international migrant stock',
                  '2010 Refugees as a percentage of the international migrant stock',
                  '2015 Refugees as a percentage of the international migrant stock',
                  '1990-1995 Annual rate of change of the refugee stock',
                  '1995-2000 Annual rate of change of the refugee stocke',
                  '2000-2005 Annual rate of change of the refugee stock',
                  '2005-2010 Annual rate of change of the refugee stock',
                  '2010-2015 Annual rate of change of the refugee stock']

In [ ]:
table_6_1

In [ ]:
tidy_table_06 = table_6_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Refugee Stocks")
tidy_table_06

In [ ]:
tidy_table_06[['Year', 'Annual_Rate_of_Change']] = tidy_table_06['Years'].str.split(' ', 1, expand=True)
tidy_table_06.drop("Years",axis=1)

In [114]:
tidy_table_06["Gender"] = tidy_table_06.Annual_Rate_of_Change.apply(lambda x: "Both Sexes" if "both sexes" in x else "NaN")
table_06_1 = tidy_table_06.drop("Years",axis=1)
table_06_1

,Order,Name of Country,Notes,Country Code,Type of Data(a),Refugee Stocks,Year,Annual_Rate_of_Change,Gender
0,1,WORLD,NaN,900,NaN,18836571,1990,Estimated refugee stock at mid-year both sexes,Both Sexes
1,2,Developed regions,(b),901,NaN,2014564,1990,Estimated refugee stock at mid-year both sexes,Both Sexes
2,3,Developing regions,(c),902,NaN,16822007,1990,Estimated refugee stock at mid-year both sexes,Both Sexes
3,4,Least developed countries,(d),941,NaN,5048391,1990,Estimated refugee stock at mid-year both sexes,Both Sexes
4,5,Less developed regions excluding least develop...,NaN,934,NaN,11773616,1990,Estimated refugee stock at mid-year both sexes,Both Sexes
...,...,...,...,...,...,...,...,...,...
4500,261,Samoa,NaN,882,B,..,2010-2015,Annual rate of change of the refugee stock,NaN
4501,262,Tokelau,NaN,772,B,..,2010-2015,Annual rate of change of the refugee stock,NaN
4502,263,Tonga,NaN,776,B,..,2010-2015,Annual rate of change of the refugee stock,NaN
4503,264,Tuvalu,NaN,798,C,..,2010-2015,Annual rate of change of the refugee stock,NaN
4504,265,Wallis and Futuna Islands,NaN,876,B,..,2010-2015,Annual rate of change of the refugee stock,NaN

In [116]:
table_06_1 = tidy_table_06.set_index(["Order","Name of Country","Notes", "Country Code", "Type of Data(a)","Gender","Year"]).drop("Years",axis=1)
table_06_1

,,,,,,,Refugee Stocks,Annual_Rate_of_Change
Order,Name of Country,Notes,Country Code,Type of Data(a),Gender,Year,,
1,WORLD,NaN,900,NaN,Both Sexes,1990,18836571,Estimated refugee stock at mid-year both sexes
2,Developed regions,(b),901,NaN,Both Sexes,1990,2014564,Estimated refugee stock at mid-year both sexes
3,Developing regions,(c),902,NaN,Both Sexes,1990,16822007,Estimated refugee stock at mid-year both sexes
4,Least developed countries,(d),941,NaN,Both Sexes,1990,5048391,Estimated refugee stock at mid-year both sexes
5,Less developed regions excluding least developed countries,NaN,934,NaN,Both Sexes,1990,11773616,Estimated refugee stock at mid-year both sexes
...,...,...,...,...,...,...,...,...
261,Samoa,NaN,882,B,NaN,2010-2015,..,Annual rate of change of the refugee stock
262,Tokelau,NaN,772,B,NaN,2010-2015,..,Annual rate of change of the refugee stock
263,Tonga,NaN,776,B,NaN,2010-2015,..,Annual rate of change of the refugee stock
264,Tuvalu,NaN,798,C,NaN,2010-2015,..,Annual rate of change of the refugee stock
265,Wallis and Futuna Islands,NaN,876,B,NaN,2010-2015,..,Annual rate of change of the refugee stock