<a href="https://colab.research.google.com/github/moyanke/inf1340-programmingfordatascience-fa22/blob/main/MID__Sub_YankeMo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
df = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx')

In [116]:
table_01 = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 1')
table_02= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 2')
table_03= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 3')
table_04= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 4')
table_05= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 5')
table_06= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 6')
table_annex= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='ANNEX')
table_notes= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='NOTES')

In [117]:
table_01

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,United Nations,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Population Division,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,3357,4694,5998,5746,5122.0,...,3101,2940,2594.0,2469.0,1586,2243,2897,2806,2528.0,2460.0
276,262,Tokelau,NaN,772,B,270,266,262,258,429.0,...,144,133,206.0,233.0,120,119,118,125,223.0,254.0
277,263,Tonga,NaN,776,B,2911,3274,3684,4301,5022.0,...,1981,2328,2727.0,3127.0,1423,1556,1703,1973,2295.0,2604.0
278,264,Tuvalu,NaN,798,C,318,263,217,183,154.0,...,121,101,85.0,78.0,138,115,96,82,69.0,63.0
279,265,Wallis and Futuna Islands,NaN,876,B,1402,1680,2015,2365,2776.0,...,1018,1194,1401.0,1438.0,676,821,997,1171,1375.0,1411.0

In [118]:
table_1_1 = table_01.drop(table_01.index[0:15])
table_1_1 #Drop 0-15 rows

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
15,1,WORLD,NaN,900,NaN,152563212,160801752,172703309,191269100,221714243.0,...,87884839,97866674,114613714.0,126115435.0,74815702,79064275,84818470,93402426,107100529.0,117584801.0
16,2,Developed regions,(b),901,NaN,82378628,92306854,103375363,117181109,132560325.0,...,50536796,57217777,64081077.0,67618619.0,42115231,47214055,52838567,59963332,68479248.0,72863336.0
17,3,Developing regions,(c),902,NaN,70184584,68494898,69327946,74087991,89153918.0,...,37348043,40648897,50532637.0,58496816.0,32700471,31850220,31979903,33439094,38621281.0,44721465.0
18,4,Least developed countries,(d),941,NaN,11075966,11711703,10077824,9809634,10018128.0,...,5361902,5383009,5462714.0,6463217.0,5236216,5573685,4721920,4432371,4560536.0,5493028.0
19,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,56778501,59244124,64272611,79130668.0,...,31986141,35265888,45069923.0,52033599.0,27464255,26276535,27257983,29006723,34060745.0,39228437.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,3357,4694,5998,5746,5122.0,...,3101,2940,2594.0,2469.0,1586,2243,2897,2806,2528.0,2460.0
276,262,Tokelau,NaN,772,B,270,266,262,258,429.0,...,144,133,206.0,233.0,120,119,118,125,223.0,254.0
277,263,Tonga,NaN,776,B,2911,3274,3684,4301,5022.0,...,1981,2328,2727.0,3127.0,1423,1556,1703,1973,2295.0,2604.0
278,264,Tuvalu,NaN,798,C,318,263,217,183,154.0,...,121,101,85.0,78.0,138,115,96,82,69.0,63.0
279,265,Wallis and Futuna Islands,NaN,876,B,1402,1680,2015,2365,2776.0,...,1018,1194,1401.0,1438.0,676,821,997,1171,1375.0,1411.0

In [119]:
table_1_1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22'],
      dtype='object')

In [120]:
table_1_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Both Sex',
                  '1995 Migrant Stock Both Sex','2000 Migrant Stock Both Sex','2005 Migrant Stock Both Sex',
                  '2010 Migrant Stock Both Sex','2015 Migrant Stock Both Sex','1990 Migrant Stock Male',
                  '1995 Migrant Stock Male','2000 Migrant Stock Male','2005 Migrant Stock Male','2010 Migrant Stock Male',
                  '2015 Migrant Stock Male','1990 Migrant Stock Female','1995 Migrant Stock Female','2000 Migrant Stock Female',
                  '2005 Migrant Stock Female','2010 Migrant Stock Female',
                  '2015 Migrant Stock Female']

In [121]:
table_1_1 #rename the columns

,Order,Name of Country,Notes,Country Code,Type of Data(a),1990 Migrant Stock Both Sex,1995 Migrant Stock Both Sex,2000 Migrant Stock Both Sex,2005 Migrant Stock Both Sex,2010 Migrant Stock Both Sex,...,2000 Migrant Stock Male,2005 Migrant Stock Male,2010 Migrant Stock Male,2015 Migrant Stock Male,1990 Migrant Stock Female,1995 Migrant Stock Female,2000 Migrant Stock Female,2005 Migrant Stock Female,2010 Migrant Stock Female,2015 Migrant Stock Female
15,1,WORLD,NaN,900,NaN,152563212,160801752,172703309,191269100,221714243.0,...,87884839,97866674,114613714.0,126115435.0,74815702,79064275,84818470,93402426,107100529.0,117584801.0
16,2,Developed regions,(b),901,NaN,82378628,92306854,103375363,117181109,132560325.0,...,50536796,57217777,64081077.0,67618619.0,42115231,47214055,52838567,59963332,68479248.0,72863336.0
17,3,Developing regions,(c),902,NaN,70184584,68494898,69327946,74087991,89153918.0,...,37348043,40648897,50532637.0,58496816.0,32700471,31850220,31979903,33439094,38621281.0,44721465.0
18,4,Least developed countries,(d),941,NaN,11075966,11711703,10077824,9809634,10018128.0,...,5361902,5383009,5462714.0,6463217.0,5236216,5573685,4721920,4432371,4560536.0,5493028.0
19,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,56778501,59244124,64272611,79130668.0,...,31986141,35265888,45069923.0,52033599.0,27464255,26276535,27257983,29006723,34060745.0,39228437.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,3357,4694,5998,5746,5122.0,...,3101,2940,2594.0,2469.0,1586,2243,2897,2806,2528.0,2460.0
276,262,Tokelau,NaN,772,B,270,266,262,258,429.0,...,144,133,206.0,233.0,120,119,118,125,223.0,254.0
277,263,Tonga,NaN,776,B,2911,3274,3684,4301,5022.0,...,1981,2328,2727.0,3127.0,1423,1556,1703,1973,2295.0,2604.0
278,264,Tuvalu,NaN,798,C,318,263,217,183,154.0,...,121,101,85.0,78.0,138,115,96,82,69.0,63.0
279,265,Wallis and Futuna Islands,NaN,876,B,1402,1680,2015,2365,2776.0,...,1018,1194,1401.0,1438.0,676,821,997,1171,1375.0,1411.0

In [122]:
tidy_table_01 = table_1_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Year",value_name="Migrant Stock")

In [123]:
tidy_table_01

,Order,Name of Country,Notes,Country Code,Type of Data(a),Year,Migrant Stock
0,1,WORLD,NaN,900,NaN,1990 Migrant Stock Both Sex,152563212
1,2,Developed regions,(b),901,NaN,1990 Migrant Stock Both Sex,82378628
2,3,Developing regions,(c),902,NaN,1990 Migrant Stock Both Sex,70184584
3,4,Least developed countries,(d),941,NaN,1990 Migrant Stock Both Sex,11075966
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990 Migrant Stock Both Sex,59105261
...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2015 Migrant Stock Female,2460.0
4766,262,Tokelau,NaN,772,B,2015 Migrant Stock Female,254.0
4767,263,Tonga,NaN,776,B,2015 Migrant Stock Female,2604.0
4768,264,Tuvalu,NaN,798,C,2015 Migrant Stock Female,63.0
4769,265,Wallis and Futuna Islands,NaN,876,B,2015 Migrant Stock Female,1411.0

In [124]:
tidy_table_01=(tidy_table_01.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[18:].astype(str)).drop("Year",axis=1))
tidy_table_01.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

,Order,Name of Country,Notes,Country Code,Type of Data(a),Migrant Stock,year,Gender
0,1,WORLD,NaN,900,NaN,152563212,1990,Both Sex
1,1,WORLD,NaN,900,NaN,93402426,2005,Female
2,1,WORLD,NaN,900,NaN,84818470,2000,Female
3,1,WORLD,NaN,900,NaN,172703309,2000,Both Sex
4,1,WORLD,NaN,900,NaN,79064275,1995,Female
...,...,...,...,...,...,...,...,...
4765,265,Wallis and Futuna Islands,NaN,876,B,676,1990,Female
4766,265,Wallis and Futuna Islands,NaN,876,B,821,1995,Female
4767,265,Wallis and Futuna Islands,NaN,876,B,997,2000,Female
4768,265,Wallis and Futuna Islands,NaN,876,B,859,1995,Male
4769,265,Wallis and Futuna Islands,NaN,876,B,1411.0,2015,Female

In [125]:
#Split the data in different table, start fromn row 1590, tidy_table_1_Both_sexes = Migrant Stock for Both Sexes
split_point = 1590
print(split_point)
tidy_table_01_Both_sexes = tidy_table_01.iloc[:split_point]
tidy_table_01_Both_sexes

1590

,Order,Name of Country,Notes,Country Code,Type of Data(a),Migrant Stock,year,Gender
0,1,WORLD,NaN,900,NaN,152563212,1990,Both Sex
1,2,Developed regions,(b),901,NaN,82378628,1990,Both Sex
2,3,Developing regions,(c),902,NaN,70184584,1990,Both Sex
3,4,Least developed countries,(d),941,NaN,11075966,1990,Both Sex
4,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,1990,Both Sex
...,...,...,...,...,...,...,...,...
1585,261,Samoa,NaN,882,B,4929.0,2015,Both Sex
1586,262,Tokelau,NaN,772,B,487.0,2015,Both Sex
1587,263,Tonga,NaN,776,B,5731.0,2015,Both Sex
1588,264,Tuvalu,NaN,798,C,141.0,2015,Both Sex
1589,265,Wallis and Futuna Islands,NaN,876,B,2849.0,2015,Both Sex

In [126]:
tidy_table_01_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Migrant Stock for Both Sexes","year","Gender"]
tidy_table_1_Both_sexes = tidy_table_01_Both_sexes.drop("Gender",axis=1)
tidy_table_1_Both_sexes

,Order,Name of Country,Notes,Country Code,Type of Data(a),Migrant Stock for Both Sexes,year
0,1,WORLD,NaN,900,NaN,152563212,1990
1,2,Developed regions,(b),901,NaN,82378628,1990
2,3,Developing regions,(c),902,NaN,70184584,1990
3,4,Least developed countries,(d),941,NaN,11075966,1990
4,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,1990
...,...,...,...,...,...,...,...
1585,261,Samoa,NaN,882,B,4929.0,2015
1586,262,Tokelau,NaN,772,B,487.0,2015
1587,263,Tonga,NaN,776,B,5731.0,2015
1588,264,Tuvalu,NaN,798,C,141.0,2015
1589,265,Wallis and Futuna Islands,NaN,876,B,2849.0,2015

In [127]:
table1_Bothsexes = tidy_table_1_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Migrant Stock for Both Sexes'].aggregate('first').unstack()
table1_Bothsexes

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,152563212,160801752,172703309,191269100,221714243.0,243700236.0
2,Developed regions,901,82378628,92306854,103375363,117181109,132560325.0,140481955.0
3,Developing regions,902,70184584,68494898,69327946,74087991,89153918.0,103218281.0
4,Least developed countries,941,11075966,11711703,10077824,9809634,10018128.0,11951316.0
5,Less developed regions excluding least developed countries,934,59105261,56778501,59244124,64272611,79130668.0,91262036.0
...,...,...,...,...,...,...,...,...
261,Samoa,882,3357,4694,5998,5746,5122.0,4929.0
262,Tokelau,772,270,266,262,258,429.0,487.0
263,Tonga,776,2911,3274,3684,4301,5022.0,5731.0
264,Tuvalu,798,318,263,217,183,154.0,141.0
265,Wallis and Futuna Islands,876,1402,1680,2015,2365,2776.0,2849.0

In [128]:
table01_Continent_or_region_BothSexes = table1_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table01_Continent_or_region_BothSexes

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,152563212,160801752,172703309,191269100,221714243.0,243700236.0
2,Developed regions,901,82378628,92306854,103375363,117181109,132560325.0,140481955.0
3,Developing regions,902,70184584,68494898,69327946,74087991,89153918.0,103218281.0
4,Least developed countries,941,11075966,11711703,10077824,9809634,10018128.0,11951316.0
5,Less developed regions excluding least developed countries,934,59105261,56778501,59244124,64272611,79130668.0,91262036.0
6,Sub-Saharan Africa,947,14690319,15324570,13716539,13951086,15496764.0,18993986.0
7,Africa,903,15690623,16352814,14800306,15191146,16840014.0,20649557.0
8,Eastern Africa,910,5964031,5022742,4844795,4745792,4657063.0,6129113.0
29,Middle Africa,911,1460530,2646108,1756687,1928828,2139979.0,2307688.0
39,Northern Africa,912,2403200,2081640,1885650,1782054,1921613.0,2159048.0
47,Southern Africa,913,1392359,1191582,1222314,1439426,2203306.0,3435194.0
53,Western Africa,914,4470503,5410742,5090860,5295046,5918053.0,6618514.0
71,Asia,935,48142261,46548225,49340815,53371224,65914319.0,75081125.0
72,Central Asia,5500,6630683,5890035,5183872,5238699,5262414.0,5393504.0
78,Eastern Asia,906,3959345,4658475,5393081,6229524,7061814.0,7596693.0
86,South-Eastern Asia,920,2876616,3700057,4926833,6522343,8661853.0,9867722.0
98,Southern Asia,5501,19436343,15343019,15278020,13722011,14326591.0,14103682.0
106,Pakistan,586,6208204,3669308,4181912,3171132,3941586.0,3628956.0
127,Europe,908,49219200,52842663,56271885,64086824,72374755.0,76145954.0
128,Eastern Europe,923,21995312,21344124,20428480,19747392,19116929.0,19684357.0
139,Northern Europe,924,6645605,7194824,7900973,9588814,11858391.0,13331442.0
153,Southern Europe,925,4340454,5985675,7517054,11974334,16154120.0,15747685.0
170,Western Europe,926,16237829,18318040,20425378,22776284,25245315.0,27382470.0
180,Latin America and the Caribbean,904,7169728,6694640,6578428,7233098,8238795.0,9233989.0
181,Caribbean,915,1056555,1154700,1255647,1328740,1345732.0,1367407.0
108,Western Asia,922,15239274,16956639,18559009,21658647,30601647.0,38119524.0
217,South America,931,4283262,4241024,4215204,4518645,5143123.0,5826431.0
232,Northern America,905,27610542,33341147,40351848,45363387,51220996.0,54488725.0
238,Oceania,909,4730858,5022263,5360027,6023421,7125364.0,8100886.0
239,Australia and New Zealand,927,4473260,4741947,5065063,5717982,6830423.0,7803399.0
242,Melanesia,928,90210,96828,94078,103878,105684.0,109595.0
248,Micronesia,954,108969,118687,130186,128390,116245.0,115772.0
256,Polynesia,957,58419,64801,70700,73171,73012.0,72120.0

In [129]:
#Split the data in different table, start fromn row 1590, tidy_table_1_male = Migrant Stock for Male
split_point = 1590
split_male_female = 3180
tidy_table_01_Male = tidy_table_01.iloc[split_point:split_male_female]
tidy_table_01_Male

,Order,Name of Country,Notes,Country Code,Type of Data(a),Migrant Stock,year,Gender
1590,1,WORLD,NaN,900,NaN,77747510,1990,Male
1591,2,Developed regions,(b),901,NaN,40263397,1990,Male
1592,3,Developing regions,(c),902,NaN,37484113,1990,Male
1593,4,Least developed countries,(d),941,NaN,5843107,1990,Male
1594,5,Less developed regions excluding least develop...,NaN,934,NaN,31641006,1990,Male
...,...,...,...,...,...,...,...,...
3175,261,Samoa,NaN,882,B,2469.0,2015,Male
3176,262,Tokelau,NaN,772,B,233.0,2015,Male
3177,263,Tonga,NaN,776,B,3127.0,2015,Male
3178,264,Tuvalu,NaN,798,C,78.0,2015,Male
3179,265,Wallis and Futuna Islands,NaN,876,B,1438.0,2015,Male

In [130]:
tidy_table_01_Male.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Migrant Stock for Male","year","Gender"]
tidy_table_1_Male = tidy_table_01_Male.drop("Gender",axis=1)
tidy_table_1_Male

,Order,Name of Country,Notes,Country Code,Type of Data(a),Migrant Stock for Male,year
1590,1,WORLD,NaN,900,NaN,77747510,1990
1591,2,Developed regions,(b),901,NaN,40263397,1990
1592,3,Developing regions,(c),902,NaN,37484113,1990
1593,4,Least developed countries,(d),941,NaN,5843107,1990
1594,5,Less developed regions excluding least develop...,NaN,934,NaN,31641006,1990
...,...,...,...,...,...,...,...
3175,261,Samoa,NaN,882,B,2469.0,2015
3176,262,Tokelau,NaN,772,B,233.0,2015
3177,263,Tonga,NaN,776,B,3127.0,2015
3178,264,Tuvalu,NaN,798,C,78.0,2015
3179,265,Wallis and Futuna Islands,NaN,876,B,1438.0,2015

In [131]:
tidy_table_1_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Migrant Stock for Male'].aggregate('first').unstack()

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,77747510,81737477,87884839,97866674,114613714.0,126115435.0
2,Developed regions,901,40263397,45092799,50536796,57217777,64081077.0,67618619.0
3,Developing regions,902,37484113,36644678,37348043,40648897,50532637.0,58496816.0
4,Least developed countries,941,5843107,6142712,5361902,5383009,5462714.0,6463217.0
5,Less developed regions excluding least developed countries,934,31641006,30501966,31986141,35265888,45069923.0,52033599.0
...,...,...,...,...,...,...,...,...
261,Samoa,882,1771,2451,3101,2940,2594.0,2469.0
262,Tokelau,772,150,147,144,133,206.0,233.0
263,Tonga,776,1488,1718,1981,2328,2727.0,3127.0
264,Tuvalu,798,180,148,121,101,85.0,78.0
265,Wallis and Futuna Islands,876,726,859,1018,1194,1401.0,1438.0

In [132]:
table01_Continent_or_region_male = table1_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table01_Continent_or_region_male

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,152563212,160801752,172703309,191269100,221714243.0,243700236.0
2,Developed regions,901,82378628,92306854,103375363,117181109,132560325.0,140481955.0
3,Developing regions,902,70184584,68494898,69327946,74087991,89153918.0,103218281.0
4,Least developed countries,941,11075966,11711703,10077824,9809634,10018128.0,11951316.0
5,Less developed regions excluding least developed countries,934,59105261,56778501,59244124,64272611,79130668.0,91262036.0
6,Sub-Saharan Africa,947,14690319,15324570,13716539,13951086,15496764.0,18993986.0
7,Africa,903,15690623,16352814,14800306,15191146,16840014.0,20649557.0
8,Eastern Africa,910,5964031,5022742,4844795,4745792,4657063.0,6129113.0
29,Middle Africa,911,1460530,2646108,1756687,1928828,2139979.0,2307688.0
39,Northern Africa,912,2403200,2081640,1885650,1782054,1921613.0,2159048.0
47,Southern Africa,913,1392359,1191582,1222314,1439426,2203306.0,3435194.0
53,Western Africa,914,4470503,5410742,5090860,5295046,5918053.0,6618514.0
71,Asia,935,48142261,46548225,49340815,53371224,65914319.0,75081125.0
72,Central Asia,5500,6630683,5890035,5183872,5238699,5262414.0,5393504.0
78,Eastern Asia,906,3959345,4658475,5393081,6229524,7061814.0,7596693.0
86,South-Eastern Asia,920,2876616,3700057,4926833,6522343,8661853.0,9867722.0
98,Southern Asia,5501,19436343,15343019,15278020,13722011,14326591.0,14103682.0
106,Pakistan,586,6208204,3669308,4181912,3171132,3941586.0,3628956.0
127,Europe,908,49219200,52842663,56271885,64086824,72374755.0,76145954.0
128,Eastern Europe,923,21995312,21344124,20428480,19747392,19116929.0,19684357.0
139,Northern Europe,924,6645605,7194824,7900973,9588814,11858391.0,13331442.0
153,Southern Europe,925,4340454,5985675,7517054,11974334,16154120.0,15747685.0
170,Western Europe,926,16237829,18318040,20425378,22776284,25245315.0,27382470.0
180,Latin America and the Caribbean,904,7169728,6694640,6578428,7233098,8238795.0,9233989.0
181,Caribbean,915,1056555,1154700,1255647,1328740,1345732.0,1367407.0
108,Western Asia,922,15239274,16956639,18559009,21658647,30601647.0,38119524.0
217,South America,931,4283262,4241024,4215204,4518645,5143123.0,5826431.0
232,Northern America,905,27610542,33341147,40351848,45363387,51220996.0,54488725.0
238,Oceania,909,4730858,5022263,5360027,6023421,7125364.0,8100886.0
239,Australia and New Zealand,927,4473260,4741947,5065063,5717982,6830423.0,7803399.0
242,Melanesia,928,90210,96828,94078,103878,105684.0,109595.0
248,Micronesia,954,108969,118687,130186,128390,116245.0,115772.0
256,Polynesia,957,58419,64801,70700,73171,73012.0,72120.0

In [133]:
#Split the data in different table, start fromn row 3180, tidy_table_1_female = Migrant Stock for female
split_male_female = 3180
tidy_table_1_female = tidy_table_01.iloc[split_male_female:]
tidy_table_1_female

,Order,Name of Country,Notes,Country Code,Type of Data(a),Migrant Stock,year,Gender
3180,1,WORLD,NaN,900,NaN,74815702,1990,Female
3181,2,Developed regions,(b),901,NaN,42115231,1990,Female
3182,3,Developing regions,(c),902,NaN,32700471,1990,Female
3183,4,Least developed countries,(d),941,NaN,5236216,1990,Female
3184,5,Less developed regions excluding least develop...,NaN,934,NaN,27464255,1990,Female
...,...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2460.0,2015,Female
4766,262,Tokelau,NaN,772,B,254.0,2015,Female
4767,263,Tonga,NaN,776,B,2604.0,2015,Female
4768,264,Tuvalu,NaN,798,C,63.0,2015,Female
4769,265,Wallis and Futuna Islands,NaN,876,B,1411.0,2015,Female

In [134]:
tidy_table_1_female.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Migrant Stock for female","year","Gender"]
tidy_table_1_female = tidy_table_1_female.drop("Gender",axis=1)
tidy_table_1_female

,Order,Name of Country,Notes,Country Code,Type of Data(a),Migrant Stock for female,year
3180,1,WORLD,NaN,900,NaN,74815702,1990
3181,2,Developed regions,(b),901,NaN,42115231,1990
3182,3,Developing regions,(c),902,NaN,32700471,1990
3183,4,Least developed countries,(d),941,NaN,5236216,1990
3184,5,Less developed regions excluding least develop...,NaN,934,NaN,27464255,1990
...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2460.0,2015
4766,262,Tokelau,NaN,772,B,254.0,2015
4767,263,Tonga,NaN,776,B,2604.0,2015
4768,264,Tuvalu,NaN,798,C,63.0,2015
4769,265,Wallis and Futuna Islands,NaN,876,B,1411.0,2015

In [135]:
tidy_table_1_female.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Migrant Stock for female'].aggregate('first').unstack()

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,74815702,79064275,84818470,93402426,107100529.0,117584801.0
2,Developed regions,901,42115231,47214055,52838567,59963332,68479248.0,72863336.0
3,Developing regions,902,32700471,31850220,31979903,33439094,38621281.0,44721465.0
4,Least developed countries,941,5236216,5573685,4721920,4432371,4560536.0,5493028.0
5,Less developed regions excluding least developed countries,934,27464255,26276535,27257983,29006723,34060745.0,39228437.0
...,...,...,...,...,...,...,...,...
261,Samoa,882,1586,2243,2897,2806,2528.0,2460.0
262,Tokelau,772,120,119,118,125,223.0,254.0
263,Tonga,776,1423,1556,1703,1973,2295.0,2604.0
264,Tuvalu,798,138,115,96,82,69.0,63.0
265,Wallis and Futuna Islands,876,676,821,997,1171,1375.0,1411.0

In [136]:
table01_Continent_or_region_female = table1_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table01_Continent_or_region_female

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,152563212,160801752,172703309,191269100,221714243.0,243700236.0
2,Developed regions,901,82378628,92306854,103375363,117181109,132560325.0,140481955.0
3,Developing regions,902,70184584,68494898,69327946,74087991,89153918.0,103218281.0
4,Least developed countries,941,11075966,11711703,10077824,9809634,10018128.0,11951316.0
5,Less developed regions excluding least developed countries,934,59105261,56778501,59244124,64272611,79130668.0,91262036.0
6,Sub-Saharan Africa,947,14690319,15324570,13716539,13951086,15496764.0,18993986.0
7,Africa,903,15690623,16352814,14800306,15191146,16840014.0,20649557.0
8,Eastern Africa,910,5964031,5022742,4844795,4745792,4657063.0,6129113.0
29,Middle Africa,911,1460530,2646108,1756687,1928828,2139979.0,2307688.0
39,Northern Africa,912,2403200,2081640,1885650,1782054,1921613.0,2159048.0
47,Southern Africa,913,1392359,1191582,1222314,1439426,2203306.0,3435194.0
53,Western Africa,914,4470503,5410742,5090860,5295046,5918053.0,6618514.0
71,Asia,935,48142261,46548225,49340815,53371224,65914319.0,75081125.0
72,Central Asia,5500,6630683,5890035,5183872,5238699,5262414.0,5393504.0
78,Eastern Asia,906,3959345,4658475,5393081,6229524,7061814.0,7596693.0
86,South-Eastern Asia,920,2876616,3700057,4926833,6522343,8661853.0,9867722.0
98,Southern Asia,5501,19436343,15343019,15278020,13722011,14326591.0,14103682.0
106,Pakistan,586,6208204,3669308,4181912,3171132,3941586.0,3628956.0
127,Europe,908,49219200,52842663,56271885,64086824,72374755.0,76145954.0
128,Eastern Europe,923,21995312,21344124,20428480,19747392,19116929.0,19684357.0
139,Northern Europe,924,6645605,7194824,7900973,9588814,11858391.0,13331442.0
153,Southern Europe,925,4340454,5985675,7517054,11974334,16154120.0,15747685.0
170,Western Europe,926,16237829,18318040,20425378,22776284,25245315.0,27382470.0
180,Latin America and the Caribbean,904,7169728,6694640,6578428,7233098,8238795.0,9233989.0
181,Caribbean,915,1056555,1154700,1255647,1328740,1345732.0,1367407.0
108,Western Asia,922,15239274,16956639,18559009,21658647,30601647.0,38119524.0
217,South America,931,4283262,4241024,4215204,4518645,5143123.0,5826431.0
232,Northern America,905,27610542,33341147,40351848,45363387,51220996.0,54488725.0
238,Oceania,909,4730858,5022263,5360027,6023421,7125364.0,8100886.0
239,Australia and New Zealand,927,4473260,4741947,5065063,5717982,6830423.0,7803399.0
242,Melanesia,928,90210,96828,94078,103878,105684.0,109595.0
248,Micronesia,954,108969,118687,130186,128390,116245.0,115772.0
256,Polynesia,957,58419,64801,70700,73171,73012.0,72120.0

##########Table_02##########

In [137]:
table_02

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,United Nations,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Population Division,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,162.865,170.158,174.614,179.928,186.029,193.228,...,90.932,93.185,95.95,99.644,77.856,81.67,83.682,86.743,90.079,93.584
276,262,Tokelau,NaN,772,1.609,1.520,1.552,1.210,1.135,1.250,...,..,..,..,..,..,..,..,..,..,..
277,263,Tonga,NaN,776,95.152,95.889,97.898,100.858,103.947,106.170,...,49.788,50.574,52.055,53.239,46.905,47.275,48.11,50.284,51.892,52.931
278,264,Tuvalu,NaN,798,9.004,9.227,9.419,9.694,9.827,9.916,...,..,..,..,..,..,..,..,..,..,..
279,265,Wallis and Futuna Islands,NaN,876,13.88,14.143,14.497,14.246,13.565,13.151,...,..,..,..,..,..,..,..,..,..,..

In [138]:
table_2_1 = table_02.drop(table_02.index[0:15])
table_2_1 #Drop 0-15 rows

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
15,1,WORLD,NaN,900,5309667.699,5735123.084,6126622.121,6519635.850,6929725.043,7349472.099,...,3084537.662,3285082.249,3493956.904,3707205.753,2639243.998,2848487.191,3042084.459,3234553.601,3435768.139,3642266.346
16,2,Developed regions,(b),901,1144463.062,1169761.211,1188811.731,1208919.509,1233375.711,1251351.086,...,578010.218,587962.213,599955.476,609297.148,589207.436,601492.755,610801.513,620957.296,633420.235,642053.938
17,3,Developing regions,(c),902,4165204.637,4565361.873,4937810.390,5310716.341,5696349.332,6098121.013,...,2506527.444,2697120.036,2894001.428,3097908.605,2050036.562,2246994.436,2431282.946,2613596.305,2802347.904,3000212.408
18,4,Least developed countries,(d),941,510057.629,585189.354,664386.087,752804.951,847254.847,954157.804,...,331482.475,375757.715,422397.532,476031.179,256015.073,293162.612,332903.612,377047.236,424857.315,478126.625
19,5,Less developed regions excluding least develop...,NaN,934,3655147.008,3980172.519,4273424.303,4557911.390,4849094.485,5143963.209,...,2175044.969,2321362.321,2471603.896,2621877.426,1794021.489,1953831.824,2098379.334,2236549.069,2377490.589,2522085.783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,162.865,170.158,174.614,179.928,186.029,193.228,...,90.932,93.185,95.95,99.644,77.856,81.67,83.682,86.743,90.079,93.584
276,262,Tokelau,NaN,772,1.609,1.520,1.552,1.210,1.135,1.250,...,..,..,..,..,..,..,..,..,..,..
277,263,Tonga,NaN,776,95.152,95.889,97.898,100.858,103.947,106.170,...,49.788,50.574,52.055,53.239,46.905,47.275,48.11,50.284,51.892,52.931
278,264,Tuvalu,NaN,798,9.004,9.227,9.419,9.694,9.827,9.916,...,..,..,..,..,..,..,..,..,..,..
279,265,Wallis and Futuna Islands,NaN,876,13.88,14.143,14.497,14.246,13.565,13.151,...,..,..,..,..,..,..,..,..,..,..

In [139]:
table_2_1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [140]:
table_2_1.columns=['Order','Name of Country','Notes','Country Code','1990 Total Population Both Sex',
                  '1995 Total Population Both Sex','2000 Total Population Both Sex','2005 Total Population Both Sex',
                  '2010 Total Population Both Sex','2015 Total Population Both Sex','1990 Total Population Male',
                  '1995 Total Population Male','2000 Total Population Male','2005 Total Populatio Male','2010 Total Population Male',
                  '2015 Total Population Male','1990 Total Population Female','1995 Total Population Female','2000 Total Population Female',
                  '2005 Total Population Female','2010 Total Population Female',
                  '2015 Total Population Female']

In [141]:
table_2_1

,Order,Name of Country,Notes,Country Code,1990 Total Population Both Sex,1995 Total Population Both Sex,2000 Total Population Both Sex,2005 Total Population Both Sex,2010 Total Population Both Sex,2015 Total Population Both Sex,...,2000 Total Population Male,2005 Total Populatio Male,2010 Total Population Male,2015 Total Population Male,1990 Total Population Female,1995 Total Population Female,2000 Total Population Female,2005 Total Population Female,2010 Total Population Female,2015 Total Population Female
15,1,WORLD,NaN,900,5309667.699,5735123.084,6126622.121,6519635.850,6929725.043,7349472.099,...,3084537.662,3285082.249,3493956.904,3707205.753,2639243.998,2848487.191,3042084.459,3234553.601,3435768.139,3642266.346
16,2,Developed regions,(b),901,1144463.062,1169761.211,1188811.731,1208919.509,1233375.711,1251351.086,...,578010.218,587962.213,599955.476,609297.148,589207.436,601492.755,610801.513,620957.296,633420.235,642053.938
17,3,Developing regions,(c),902,4165204.637,4565361.873,4937810.390,5310716.341,5696349.332,6098121.013,...,2506527.444,2697120.036,2894001.428,3097908.605,2050036.562,2246994.436,2431282.946,2613596.305,2802347.904,3000212.408
18,4,Least developed countries,(d),941,510057.629,585189.354,664386.087,752804.951,847254.847,954157.804,...,331482.475,375757.715,422397.532,476031.179,256015.073,293162.612,332903.612,377047.236,424857.315,478126.625
19,5,Less developed regions excluding least develop...,NaN,934,3655147.008,3980172.519,4273424.303,4557911.390,4849094.485,5143963.209,...,2175044.969,2321362.321,2471603.896,2621877.426,1794021.489,1953831.824,2098379.334,2236549.069,2377490.589,2522085.783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,162.865,170.158,174.614,179.928,186.029,193.228,...,90.932,93.185,95.95,99.644,77.856,81.67,83.682,86.743,90.079,93.584
276,262,Tokelau,NaN,772,1.609,1.520,1.552,1.210,1.135,1.250,...,..,..,..,..,..,..,..,..,..,..
277,263,Tonga,NaN,776,95.152,95.889,97.898,100.858,103.947,106.170,...,49.788,50.574,52.055,53.239,46.905,47.275,48.11,50.284,51.892,52.931
278,264,Tuvalu,NaN,798,9.004,9.227,9.419,9.694,9.827,9.916,...,..,..,..,..,..,..,..,..,..,..
279,265,Wallis and Futuna Islands,NaN,876,13.88,14.143,14.497,14.246,13.565,13.151,...,..,..,..,..,..,..,..,..,..,..

In [142]:
tidy_table_02 = table_2_1.melt(id_vars=["Order","Name of Country","Notes","Country Code"],var_name="Year",value_name="Total Population")

In [143]:
tidy_table_02

,Order,Name of Country,Notes,Country Code,Year,Total Population
0,1,WORLD,NaN,900,1990 Total Population Both Sex,5309667.699
1,2,Developed regions,(b),901,1990 Total Population Both Sex,1144463.062
2,3,Developing regions,(c),902,1990 Total Population Both Sex,4165204.637
3,4,Least developed countries,(d),941,1990 Total Population Both Sex,510057.629
4,5,Less developed regions excluding least develop...,NaN,934,1990 Total Population Both Sex,3655147.008
...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,2015 Total Population Female,93.584
4766,262,Tokelau,NaN,772,2015 Total Population Female,..
4767,263,Tonga,NaN,776,2015 Total Population Female,52.931
4768,264,Tuvalu,NaN,798,2015 Total Population Female,..
4769,265,Wallis and Futuna Islands,NaN,876,2015 Total Population Female,..

In [144]:
tidy_table_02=(tidy_table_02.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[22:].astype(str)).drop("Year",axis=1))
tidy_table_02.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock #Separate the Year cloumns into year, gemder, total population

,Order,Name of Country,Notes,Country Code,Total Population,year,Gender
0,1,WORLD,NaN,900,5309667.699,1990,Both Sex
1,1,WORLD,NaN,900,3234553.601,2005,Female
2,1,WORLD,NaN,900,3042084.459,2000,Female
3,1,WORLD,NaN,900,6126622.121,2000,Both Sex
4,1,WORLD,NaN,900,2848487.191,1995,Female
...,...,...,...,...,...,...,...
4765,265,Wallis and Futuna Islands,NaN,876,..,1990,Female
4766,265,Wallis and Futuna Islands,NaN,876,..,1995,Female
4767,265,Wallis and Futuna Islands,NaN,876,..,2000,Female
4768,265,Wallis and Futuna Islands,NaN,876,..,1995,Male
4769,265,Wallis and Futuna Islands,NaN,876,..,2015,Female

In [145]:
#Split the data in different table, start fromn row 1590, tidy_table_2_Both_sexes = Migrant Stock for Both Sexes
split_point = 1590
print(split_point)
tidy_table_02_Both_sexes = tidy_table_02.iloc[:split_point]
tidy_table_02_Both_sexes

1590

,Order,Name of Country,Notes,Country Code,Total Population,year,Gender
0,1,WORLD,NaN,900,5309667.699,1990,Both Sex
1,2,Developed regions,(b),901,1144463.062,1990,Both Sex
2,3,Developing regions,(c),902,4165204.637,1990,Both Sex
3,4,Least developed countries,(d),941,510057.629,1990,Both Sex
4,5,Less developed regions excluding least develop...,NaN,934,3655147.008,1990,Both Sex
...,...,...,...,...,...,...,...
1585,261,Samoa,NaN,882,193.228,2015,Both Sex
1586,262,Tokelau,NaN,772,1.25,2015,Both Sex
1587,263,Tonga,NaN,776,106.17,2015,Both Sex
1588,264,Tuvalu,NaN,798,9.916,2015,Both Sex
1589,265,Wallis and Futuna Islands,NaN,876,13.151,2015,Both Sex

In [146]:
tidy_table_02_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Total Population for Both Sexes in Thousands','year','Gender']
tidy_table_2_Both_sexes = tidy_table_02_Both_sexes.drop("Gender",axis=1)
tidy_table_2_Both_sexes

,Order,Name of Country,Notes,Country Code,Total Population for Both Sexes in Thousands,year
0,1,WORLD,NaN,900,5309667.699,1990
1,2,Developed regions,(b),901,1144463.062,1990
2,3,Developing regions,(c),902,4165204.637,1990
3,4,Least developed countries,(d),941,510057.629,1990
4,5,Less developed regions excluding least develop...,NaN,934,3655147.008,1990
...,...,...,...,...,...,...
1585,261,Samoa,NaN,882,193.228,2015
1586,262,Tokelau,NaN,772,1.25,2015
1587,263,Tonga,NaN,776,106.17,2015
1588,264,Tuvalu,NaN,798,9.916,2015
1589,265,Wallis and Futuna Islands,NaN,876,13.151,2015

In [147]:
table2_Bothsexes = tidy_table_2_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Total Population for Both Sexes in Thousands'].aggregate('first').unstack()

In [148]:
table02_Continent_or_region_BothSexes = table2_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table02_Continent_or_region_BothSexes

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,5309667.699,5735123.084,6126622.121,6519635.85,6929725.043,7349472.099
2,Developed regions,901,1144463.062,1169761.211,1188811.731,1208919.509,1233375.711,1251351.086
3,Developing regions,902,4165204.637,4565361.873,4937810.39,5310716.341,5696349.332,6098121.013
4,Least developed countries,941,510057.629,585189.354,664386.087,752804.951,847254.847,954157.804
5,Less developed regions excluding least developed countries,934,3655147.008,3980172.519,4273424.303,4557911.39,4849094.485,5143963.209
6,Sub-Saharan Africa,947,491497.691,562978.224,642172.298,733321.659,840390.129,962286.754
7,Africa,903,631614.304,720416.386,814063.149,920238.945,1044106.862,1186178.282
8,Eastern Africa,910,198231.687,225309.503,259372.541,297636.467,342742.625,394477.339
29,Middle Africa,911,70886.433,83875.087,96113.261,111912.892,130598.289,151951.739
39,Northern Africa,912,140116.613,157438.162,171890.851,186917.286,203716.733,223891.528
47,Southern Africa,913,42049.013,47374.567,51451.328,55274.466,59066.802,62633.713
53,Western Africa,914,180330.558,206419.067,235235.168,268497.834,307982.413,353223.963
71,Asia,935,3202474.692,3474848.677,3714469.832,3944669.784,4169860.387,4393296.014
72,Central Asia,5500,50405.063,53177.844,55117.412,58042.955,62138.646,67314.033
78,Eastern Asia,906,1368591.934,1448737.966,1496284.026,1536539.691,1575320.344,1612286.941
86,South-Eastern Asia,920,445665.26,486881.244,526178.808,563156.681,596707.855,633489.946
98,Southern Asia,5501,1189260.506,1319395.96,1451932.761,1581124.102,1702990.822,1822974.074
106,Pakistan,586,107607.639,122599.749,138250.487,153356.383,170043.918,188924.874
127,Europe,908,721086.311,727778.44,726407.448,729007.47,735394.902,738442.07
128,Eastern Europe,923,310026.859,309569.352,303788.505,297481.982,294591.164,292942.778
139,Northern Europe,924,92040.282,93153.316,94397.434,96238.537,99682.18,102357.768
153,Southern Europe,925,143403.793,144146.548,145058.07,149735.395,153360.036,152347.892
170,Western Europe,926,175615.377,180909.224,183163.439,185551.556,187761.522,190793.632
180,Latin America and the Caribbean,904,446888.767,487325.927,526889.948,563825.875,599822.996,634386.567
181,Caribbean,915,34197.595,36374.921,38313.82,40028.199,41620.899,43199.297
108,Western Asia,922,148551.929,166655.663,184956.825,205806.355,232702.72,257231.02
217,South America,931,297868.656,323918.586,349795.657,374809.128,397085.003,418447.196
232,Northern America,905,280633.063,295699.81,313724.124,328524.304,344129.117,357838.036
238,Oceania,909,26970.562,29053.844,31067.62,33369.472,36410.779,39331.13
239,Australia and New Zealand,927,20494.403,21799.656,22965.485,24408.981,26531.89,28497.499
242,Melanesia,928,5513.548,6208.097,6992.665,7816.089,8716.29,9622.827
248,Micronesia,954,414.742,466.608,496.975,503.38,502.49,526.344
256,Polynesia,957,547.869,579.483,612.495,641.022,660.109,684.46

In [149]:
#Split the data in different table, start fromn row 1590, tidy_table_2_male = Migrant Stock for Male
split_point = 1590
split_male_female = 3180
tidy_table_02_Male = tidy_table_02.iloc[split_point:split_male_female]
tidy_table_02_Male

,Order,Name of Country,Notes,Country Code,Total Population,year,Gender
1590,1,WORLD,NaN,900,2670423.701,1990,Male
1591,2,Developed regions,(b),901,555255.626,1990,Male
1592,3,Developing regions,(c),902,2115168.075,1990,Male
1593,4,Least developed countries,(d),941,254042.556,1990,Male
1594,5,Less developed regions excluding least develop...,NaN,934,1861125.519,1990,Male
...,...,...,...,...,...,...,...
3175,261,Samoa,NaN,882,99.644,2015,Male
3176,262,Tokelau,NaN,772,..,2015,Male
3177,263,Tonga,NaN,776,53.239,2015,Male
3178,264,Tuvalu,NaN,798,..,2015,Male
3179,265,Wallis and Futuna Islands,NaN,876,..,2015,Male

In [150]:
tidy_table_02_Male.columns=['Order','Name of Country','Notes','Country Code',"Total Population for Male in Thousands","year","Gender"]
tidy_table_2_Male = tidy_table_02_Male.drop("Gender",axis=1)
tidy_table_2_Male

,Order,Name of Country,Notes,Country Code,Total Population for Male in Thousands,year
1590,1,WORLD,NaN,900,2670423.701,1990
1591,2,Developed regions,(b),901,555255.626,1990
1592,3,Developing regions,(c),902,2115168.075,1990
1593,4,Least developed countries,(d),941,254042.556,1990
1594,5,Less developed regions excluding least develop...,NaN,934,1861125.519,1990
...,...,...,...,...,...,...
3175,261,Samoa,NaN,882,99.644,2015
3176,262,Tokelau,NaN,772,..,2015
3177,263,Tonga,NaN,776,53.239,2015
3178,264,Tuvalu,NaN,798,..,2015
3179,265,Wallis and Futuna Islands,NaN,876,..,2015

In [151]:
table2_male=tidy_table_2_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Total Population for Male in Thousands'].aggregate('first').unstack()

In [152]:
table02_Continent_or_region_male = table2_male.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table02_Continent_or_region_male

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,2670423.701,2886635.893,3084537.662,3285082.249,3493956.904,3707205.753
2,Developed regions,901,555255.626,568268.456,578010.218,587962.213,599955.476,609297.148
3,Developing regions,902,2115168.075,2318367.437,2506527.444,2697120.036,2894001.428,3097908.605
4,Least developed countries,941,254042.556,292026.742,331482.475,375757.715,422397.532,476031.179
5,Less developed regions excluding least developed countries,934,1861125.519,2026340.695,2175044.969,2321362.321,2471603.896,2621877.426
6,Sub-Saharan Africa,947,244590.537,280184.443,319998.713,365726.398,419507.414,481052.453
7,Africa,903,315071.378,359408.818,406405.564,459590.529,521739.73,593454.63
8,Eastern Africa,910,98208.646,111579.478,128612.117,147723.981,170257.225,196134.588
29,Middle Africa,911,35035.128,41531.665,47685.05,55637.595,65043.073,75776.017
39,Northern Africa,912,70480.841,79224.375,86406.851,93864.131,102232.316,112402.177
47,Southern Africa,913,20760.4,23323.988,25314.282,27142.914,28983.227,30817.67
53,Western Africa,914,90586.363,103749.312,118387.264,135221.908,155223.889,178324.178
71,Asia,935,1634734.677,1774573.634,1896484.558,2015856.998,2132586.327,2246985.939
72,Central Asia,5500,24731.701,26171.16,27081.981,28496.05,30503.079,33088.231
78,Eastern Asia,906,698498.4,739842.908,764089.052,785067.977,805214.549,824699.768
86,South-Eastern Asia,920,222338.082,242676.271,262028.428,280533.628,297955.35,316148.47
98,Southern Asia,5501,613752.446,680956.361,749146.31,816105.9,877821.041,938880.969
106,Pakistan,586,55779.101,63356.712,71329.674,79028.976,87415.207,97052.303
127,Europe,908,347356.281,350900.684,350267.522,351438.197,354425.077,356166.879
128,Eastern Europe,923,146931.214,146776.861,143758.516,140238.408,138532.52,137871.968
139,Northern Europe,924,44777.534,45322.608,46014.519,47089.363,48939.346,50431.66
153,Southern Europe,925,70153.304,70376.972,70868.243,73302.115,75041.176,74281.874
170,Western Europe,926,85494.229,88424.243,89626.244,90808.311,91912.035,93581.377
180,Latin America and the Caribbean,904,221989.776,241691.088,260999.136,279063.111,296658.795,313508.723
181,Caribbean,915,17012.355,18078.155,19015.107,19849.828,20635.647,21405.583
108,Western Asia,922,75414.048,84926.934,94138.787,105653.443,121092.308,134168.501
217,South America,931,147875.572,160578.132,173200.856,185370.564,196149.65,206464.86
232,Northern America,905,137757.875,145528.321,154827.713,162426.772,170282.113,177382.633
238,Oceania,909,13513.714,14533.348,15553.169,16706.642,18264.862,19706.949
239,Australia and New Zealand,927,10198.046,10829.135,11424.553,12141.716,13230.53,14189.058
242,Melanesia,928,2818.011,3167.284,3564.668,3984.116,4443.62,4903.518
248,Micronesia,954,214.715,238.167,248.953,253.048,254.116,266.028
256,Polynesia,957,282.942,298.762,314.995,327.762,336.596,348.345

In [153]:
#Split the data in different table, start fromn row 3180, tidy_table_2_female = Migrant Stock for female
split_male_female = 3180
tidy_table_2_female = tidy_table_02.iloc[split_male_female:]
tidy_table_2_female

,Order,Name of Country,Notes,Country Code,Total Population,year,Gender
3180,1,WORLD,NaN,900,2639243.998,1990,Female
3181,2,Developed regions,(b),901,589207.436,1990,Female
3182,3,Developing regions,(c),902,2050036.562,1990,Female
3183,4,Least developed countries,(d),941,256015.073,1990,Female
3184,5,Less developed regions excluding least develop...,NaN,934,1794021.489,1990,Female
...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,93.584,2015,Female
4766,262,Tokelau,NaN,772,..,2015,Female
4767,263,Tonga,NaN,776,52.931,2015,Female
4768,264,Tuvalu,NaN,798,..,2015,Female
4769,265,Wallis and Futuna Islands,NaN,876,..,2015,Female

In [154]:
tidy_table_2_female.columns=['Order','Name of Country','Notes','Country Code',"Total Population for female in Thousands","year","Gender"]
tidy_table_2_female = tidy_table_2_female.drop("Gender",axis=1)
tidy_table_2_female

,Order,Name of Country,Notes,Country Code,Total Population for female in Thousands,year
3180,1,WORLD,NaN,900,2639243.998,1990
3181,2,Developed regions,(b),901,589207.436,1990
3182,3,Developing regions,(c),902,2050036.562,1990
3183,4,Least developed countries,(d),941,256015.073,1990
3184,5,Less developed regions excluding least develop...,NaN,934,1794021.489,1990
...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,93.584,2015
4766,262,Tokelau,NaN,772,..,2015
4767,263,Tonga,NaN,776,52.931,2015
4768,264,Tuvalu,NaN,798,..,2015
4769,265,Wallis and Futuna Islands,NaN,876,..,2015

In [155]:
table2_female = tidy_table_2_female.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Total Population for female in Thousands'].aggregate('first').unstack()

In [156]:
table02_Continent_or_region_female = table2_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table02_Continent_or_region_female

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,2639243.998,2848487.191,3042084.459,3234553.601,3435768.139,3642266.346
2,Developed regions,901,589207.436,601492.755,610801.513,620957.296,633420.235,642053.938
3,Developing regions,902,2050036.562,2246994.436,2431282.946,2613596.305,2802347.904,3000212.408
4,Least developed countries,941,256015.073,293162.612,332903.612,377047.236,424857.315,478126.625
5,Less developed regions excluding least developed countries,934,1794021.489,1953831.824,2098379.334,2236549.069,2377490.589,2522085.783
6,Sub-Saharan Africa,947,246907.154,282793.781,322173.585,367595.261,420882.715,481234.301
7,Africa,903,316542.926,361007.568,407657.585,460648.416,522367.132,592723.652
8,Eastern Africa,910,100023.041,113730.025,130760.424,149912.486,172485.4,198342.751
29,Middle Africa,911,35851.305,42343.422,48428.211,56275.297,65555.216,76175.722
39,Northern Africa,912,69635.772,78213.787,85484,93053.155,101484.417,111489.351
47,Southern Africa,913,21288.613,24050.579,26137.046,28131.552,30083.575,31816.043
53,Western Africa,914,89744.195,102669.755,116847.904,133275.926,152758.524,174899.785
71,Asia,935,1567740.015,1700275.043,1817985.274,1928812.786,2037274.06,2146310.075
72,Central Asia,5500,25673.362,27006.684,28035.431,29546.905,31635.567,34225.802
78,Eastern Asia,906,670093.534,708895.058,732194.974,751471.714,770105.795,787587.173
86,South-Eastern Asia,920,223327.178,244204.973,264150.38,282623.053,298752.505,317341.476
98,Southern Asia,5501,575508.06,638439.599,702786.451,765018.202,825169.781,884093.105
106,Pakistan,586,51828.538,59243.037,66920.813,74327.407,82628.711,91872.571
127,Europe,908,373730.03,376877.756,376139.926,377569.273,380969.825,382275.191
128,Eastern Europe,923,163095.645,162792.491,160029.989,157243.574,156058.644,155070.81
139,Northern Europe,924,47262.748,47830.708,48382.915,49149.174,50742.834,51926.108
153,Southern Europe,925,73250.489,73769.576,74189.827,76433.28,78318.86,78066.018
170,Western Europe,926,90121.148,92484.981,93537.195,94743.245,95849.487,97212.255
180,Latin America and the Caribbean,904,224898.991,245634.839,265890.812,284762.764,303164.201,320877.844
181,Caribbean,915,17185.24,18296.766,19298.713,20178.371,20985.252,21793.714
108,Western Asia,922,73137.881,81728.729,90818.038,100152.912,111610.412,123062.519
217,South America,931,149993.084,163340.454,176594.801,189438.564,200935.353,211982.336
232,Northern America,905,142875.188,150171.489,158896.411,166097.532,173847.004,180455.403
238,Oceania,909,13456.848,14520.496,15514.451,16662.83,18145.917,19624.181
239,Australia and New Zealand,927,10296.357,10970.521,11540.932,12267.265,13301.36,14308.441
242,Melanesia,928,2695.537,3040.813,3427.997,3831.973,4272.67,4719.309
248,Micronesia,954,200.027,228.441,248.022,250.332,248.374,260.316
256,Polynesia,957,264.927,280.721,297.5,313.26,323.513,336.115

In [157]:
#write up of what violation you find, five page at least with picture. 
#use table_01.set_index("Name of area", inpplace = True)把name of area 变成中心指标

##########Table_03##########

In [158]:
table_03

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,United Nations,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Population Division,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,2.061216,2.758613,3.435005,3.1935,2.753334,...,3.410241,3.155014,2.703491,2.477821,2.037094,2.746419,3.461915,3.234843,2.806425,2.628654
276,262,Tokelau,NaN,772,B,16.780609,17.5,16.881443,21.322314,37.797357,...,..,..,..,..,..,..,..,..,..,..
277,263,Tonga,NaN,776,B,3.059316,3.414365,3.7631,4.264411,4.831308,...,3.97887,4.603156,5.23869,5.873514,3.033792,3.29138,3.539805,3.923713,4.422647,4.919612
278,264,Tuvalu,NaN,798,C,3.531764,2.850331,2.303854,1.887766,1.567111,...,..,..,..,..,..,..,..,..,..,..
279,265,Wallis and Futuna Islands,NaN,876,B,10.100865,11.878668,13.899427,16.601151,20.464431,...,..,..,..,..,..,..,..,..,..,..

In [159]:
table_3_1 = table_03.drop(table_03.index[0:15])
table_3_1 #Drop 0-15 rows

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
15,1,WORLD,NaN,900,NaN,2.87331,2.803806,2.818899,2.933739,3.199467,...,2.849206,2.979124,3.280341,3.4019,2.83474,2.775658,2.788169,2.887645,3.117222,3.228342
16,2,Developed regions,(b),901,NaN,7.198015,7.891085,8.695688,9.693045,10.747765,...,8.743236,9.73154,10.680972,11.097807,7.147777,7.84948,8.650694,9.656595,10.811029,11.348476
17,3,Developing regions,(c),902,NaN,1.685021,1.500317,1.404022,1.395066,1.565106,...,1.490031,1.507122,1.746117,1.888268,1.595116,1.417459,1.315351,1.279428,1.378176,1.49061
18,4,Least developed countries,(d),941,NaN,2.171513,2.001353,1.516863,1.303078,1.182422,...,1.617552,1.432574,1.293264,1.35773,2.045276,1.901226,1.418405,1.175548,1.073428,1.148865
19,5,Less developed regions excluding least develop...,NaN,934,NaN,1.617042,1.426534,1.386338,1.410133,1.631865,...,1.470597,1.519189,1.823509,1.984593,1.530877,1.344872,1.299002,1.296941,1.432634,1.555397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,2.061216,2.758613,3.435005,3.1935,2.753334,...,3.410241,3.155014,2.703491,2.477821,2.037094,2.746419,3.461915,3.234843,2.806425,2.628654
276,262,Tokelau,NaN,772,B,16.780609,17.5,16.881443,21.322314,37.797357,...,..,..,..,..,..,..,..,..,..,..
277,263,Tonga,NaN,776,B,3.059316,3.414365,3.7631,4.264411,4.831308,...,3.97887,4.603156,5.23869,5.873514,3.033792,3.29138,3.539805,3.923713,4.422647,4.919612
278,264,Tuvalu,NaN,798,C,3.531764,2.850331,2.303854,1.887766,1.567111,...,..,..,..,..,..,..,..,..,..,..
279,265,Wallis and Futuna Islands,NaN,876,B,10.100865,11.878668,13.899427,16.601151,20.464431,...,..,..,..,..,..,..,..,..,..,..

In [160]:
table_3_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Percentage for Both Sex',
                  '1995 Migrant Stock Percentage for Both Sex','2000 Migrant Stock Percentage for Both Sex','2005 Migrant Stock Percentage for Both Sex',
                  '2010 Migrant Stock Percentage for Both Sex','2015 Migrant Stock Percentage for Both Sex','1990 Migrant Stock Percentage for Male',
                  '1995 Migrant Stock Percentage for Male','2000 Migrant Stock Percentage for Male','2005 Migrant Stock Percentage for Male','2010 Migrant Stock Percentage for Male',
                  '2015 Migrant Stock Percentage for Male','1990 Migrant Stock Percentage for Female','1995 Migrant Stock Percentage for Female','2000 Migrant Stock Percentage for Female',
                  '2005 Migrant Stock Percentage for Female','2010 Migrant Stock Percentage for Female',
                  '2015 Migrant Stock Percentage for Female']

In [161]:
table_3_1

,Order,Name of Country,Notes,Country Code,Type of Data(a),1990 Migrant Stock Percentage for Both Sex,1995 Migrant Stock Percentage for Both Sex,2000 Migrant Stock Percentage for Both Sex,2005 Migrant Stock Percentage for Both Sex,2010 Migrant Stock Percentage for Both Sex,...,2000 Migrant Stock Percentage for Male,2005 Migrant Stock Percentage for Male,2010 Migrant Stock Percentage for Male,2015 Migrant Stock Percentage for Male,1990 Migrant Stock Percentage for Female,1995 Migrant Stock Percentage for Female,2000 Migrant Stock Percentage for Female,2005 Migrant Stock Percentage for Female,2010 Migrant Stock Percentage for Female,2015 Migrant Stock Percentage for Female
15,1,WORLD,NaN,900,NaN,2.87331,2.803806,2.818899,2.933739,3.199467,...,2.849206,2.979124,3.280341,3.4019,2.83474,2.775658,2.788169,2.887645,3.117222,3.228342
16,2,Developed regions,(b),901,NaN,7.198015,7.891085,8.695688,9.693045,10.747765,...,8.743236,9.73154,10.680972,11.097807,7.147777,7.84948,8.650694,9.656595,10.811029,11.348476
17,3,Developing regions,(c),902,NaN,1.685021,1.500317,1.404022,1.395066,1.565106,...,1.490031,1.507122,1.746117,1.888268,1.595116,1.417459,1.315351,1.279428,1.378176,1.49061
18,4,Least developed countries,(d),941,NaN,2.171513,2.001353,1.516863,1.303078,1.182422,...,1.617552,1.432574,1.293264,1.35773,2.045276,1.901226,1.418405,1.175548,1.073428,1.148865
19,5,Less developed regions excluding least develop...,NaN,934,NaN,1.617042,1.426534,1.386338,1.410133,1.631865,...,1.470597,1.519189,1.823509,1.984593,1.530877,1.344872,1.299002,1.296941,1.432634,1.555397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,2.061216,2.758613,3.435005,3.1935,2.753334,...,3.410241,3.155014,2.703491,2.477821,2.037094,2.746419,3.461915,3.234843,2.806425,2.628654
276,262,Tokelau,NaN,772,B,16.780609,17.5,16.881443,21.322314,37.797357,...,..,..,..,..,..,..,..,..,..,..
277,263,Tonga,NaN,776,B,3.059316,3.414365,3.7631,4.264411,4.831308,...,3.97887,4.603156,5.23869,5.873514,3.033792,3.29138,3.539805,3.923713,4.422647,4.919612
278,264,Tuvalu,NaN,798,C,3.531764,2.850331,2.303854,1.887766,1.567111,...,..,..,..,..,..,..,..,..,..,..
279,265,Wallis and Futuna Islands,NaN,876,B,10.100865,11.878668,13.899427,16.601151,20.464431,...,..,..,..,..,..,..,..,..,..,..

In [162]:
tidy_table_03 = table_3_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="International Migrant Stock as Percentage of Total Population")

In [163]:
tidy_table_03

,Order,Name of Country,Notes,Country Code,Type of Data(a),Years,International Migrant Stock as Percentage of Total Population
0,1,WORLD,NaN,900,NaN,1990 Migrant Stock Percentage for Both Sex,2.87331
1,2,Developed regions,(b),901,NaN,1990 Migrant Stock Percentage for Both Sex,7.198015
2,3,Developing regions,(c),902,NaN,1990 Migrant Stock Percentage for Both Sex,1.685021
3,4,Least developed countries,(d),941,NaN,1990 Migrant Stock Percentage for Both Sex,2.171513
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1990 Migrant Stock Percentage for Both Sex,1.617042
...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2015 Migrant Stock Percentage for Female,2.628654
4766,262,Tokelau,NaN,772,B,2015 Migrant Stock Percentage for Female,..
4767,263,Tonga,NaN,776,B,2015 Migrant Stock Percentage for Female,4.919612
4768,264,Tuvalu,NaN,798,C,2015 Migrant Stock Percentage for Female,..
4769,265,Wallis and Futuna Islands,NaN,876,B,2015 Migrant Stock Percentage for Female,..

In [164]:
tidy_table_03=(tidy_table_03.assign(year = lambda x: x.Years.str[:4].astype(str), Gender = lambda x: x.Years.str[33:].astype(str)).drop("Years",axis=1))
tidy_table_03.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

,Order,Name of Country,Notes,Country Code,Type of Data(a),International Migrant Stock as Percentage of Total Population,year,Gender
0,1,WORLD,NaN,900,NaN,2.87331,1990,Both Sex
1,1,WORLD,NaN,900,NaN,2.887645,2005,Female
2,1,WORLD,NaN,900,NaN,2.788169,2000,Female
3,1,WORLD,NaN,900,NaN,2.818899,2000,Both Sex
4,1,WORLD,NaN,900,NaN,2.775658,1995,Female
...,...,...,...,...,...,...,...,...
4765,265,Wallis and Futuna Islands,NaN,876,B,..,1990,Female
4766,265,Wallis and Futuna Islands,NaN,876,B,..,1995,Female
4767,265,Wallis and Futuna Islands,NaN,876,B,..,2000,Female
4768,265,Wallis and Futuna Islands,NaN,876,B,..,1995,Male
4769,265,Wallis and Futuna Islands,NaN,876,B,..,2015,Female

In [165]:
#Split the data in different table, start fromn row 1590, tidy_table_3_Both_sexes = Migrant Stock for Both Sexes
split_point = 1590
print(split_point)
tidy_table_03_Both_sexes = tidy_table_03.iloc[:split_point]
tidy_table_03_Both_sexes

1590

,Order,Name of Country,Notes,Country Code,Type of Data(a),International Migrant Stock as Percentage of Total Population,year,Gender
0,1,WORLD,NaN,900,NaN,2.87331,1990,Both Sex
1,2,Developed regions,(b),901,NaN,7.198015,1990,Both Sex
2,3,Developing regions,(c),902,NaN,1.685021,1990,Both Sex
3,4,Least developed countries,(d),941,NaN,2.171513,1990,Both Sex
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1.617042,1990,Both Sex
...,...,...,...,...,...,...,...,...
1585,261,Samoa,NaN,882,B,2.550873,2015,Both Sex
1586,262,Tokelau,NaN,772,B,38.96,2015,Both Sex
1587,263,Tonga,NaN,776,B,5.397947,2015,Both Sex
1588,264,Tuvalu,NaN,798,C,1.421944,2015,Both Sex
1589,265,Wallis and Futuna Islands,NaN,876,B,21.663752,2015,Both Sex

In [166]:
tidy_table_03_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"International Migrant Stock as Percentage of Total Population Both Sexes","year","Gender"]
tidy_table_3_Both_sexes = tidy_table_03_Both_sexes.drop("Gender",axis=1)
tidy_table_3_Both_sexes

,Order,Name of Country,Notes,Country Code,Type of Data(a),International Migrant Stock as Percentage of Total Population Both Sexes,year
0,1,WORLD,NaN,900,NaN,2.87331,1990
1,2,Developed regions,(b),901,NaN,7.198015,1990
2,3,Developing regions,(c),902,NaN,1.685021,1990
3,4,Least developed countries,(d),941,NaN,2.171513,1990
4,5,Less developed regions excluding least develop...,NaN,934,NaN,1.617042,1990
...,...,...,...,...,...,...,...
1585,261,Samoa,NaN,882,B,2.550873,2015
1586,262,Tokelau,NaN,772,B,38.96,2015
1587,263,Tonga,NaN,776,B,5.397947,2015
1588,264,Tuvalu,NaN,798,C,1.421944,2015
1589,265,Wallis and Futuna Islands,NaN,876,B,21.663752,2015

In [167]:
table3_Bothsexes=tidy_table_3_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['International Migrant Stock as Percentage of Total Population Both Sexes'].aggregate('first').unstack()

In [168]:
table03_Continent_or_region_BothSexes = table3_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table03_Continent_or_region_BothSexes

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,2.87331,2.803806,2.818899,2.933739,3.199467,3.315888
2,Developed regions,901,7.198015,7.891085,8.695688,9.693045,10.747765,11.226422
3,Developing regions,902,1.685021,1.500317,1.404022,1.395066,1.565106,1.692624
4,Least developed countries,941,2.171513,2.001353,1.516863,1.303078,1.182422,1.252551
5,Less developed regions excluding least developed countries,934,1.617042,1.426534,1.386338,1.410133,1.631865,1.774158
6,Sub-Saharan Africa,947,2.988889,2.722054,2.135959,1.902451,1.843996,1.973838
7,Africa,903,2.48421,2.269911,1.818078,1.650783,1.612863,1.740848
8,Eastern Africa,910,3.008616,2.229263,1.86789,1.594493,1.358764,1.55373
29,Middle Africa,911,2.06038,3.15482,1.827726,1.723508,1.638597,1.518698
39,Northern Africa,912,1.715143,1.322195,1.097004,0.953392,0.943277,0.964328
47,Southern Africa,913,3.311276,2.515236,2.37567,2.604143,3.730193,5.484577
53,Western Africa,914,2.47906,2.621241,2.164158,1.9721,1.921556,1.873744
71,Asia,935,1.503283,1.339576,1.328341,1.352996,1.580732,1.708993
72,Central Asia,5500,13.154796,11.076107,9.405144,9.025555,8.468826,8.012451
78,Eastern Asia,906,0.289301,0.321554,0.360432,0.405426,0.448278,0.471175
86,South-Eastern Asia,920,0.645466,0.759951,0.936342,1.158176,1.451607,1.557676
98,Southern Asia,5501,1.634322,1.162882,1.052254,0.867864,0.841261,0.773663
106,Pakistan,586,5.769297,2.992916,3.02488,2.067819,2.317981,1.920846
127,Europe,908,6.825702,7.260817,7.746601,8.790969,9.841618,10.311703
128,Eastern Europe,923,7.094647,6.894779,6.724573,6.638181,6.489308,6.719523
139,Northern Europe,924,7.220322,7.723637,8.369902,9.963591,11.8962,13.024358
153,Southern Europe,925,3.026736,4.152493,5.1821,7.996996,10.533461,10.336661
170,Western Europe,926,9.246246,10.125542,11.151449,12.274909,13.445415,14.351878
180,Latin America and the Caribbean,904,1.604365,1.37375,1.248539,1.28286,1.373538,1.455578
181,Caribbean,915,3.089559,3.17444,3.277269,3.31951,3.233308,3.165345
108,Western Asia,922,10.25855,10.174655,10.034239,10.523799,13.150533,14.819178
217,South America,931,1.43797,1.309287,1.205048,1.205586,1.29522,1.392393
232,Northern America,905,9.838663,11.275336,12.862208,13.808229,14.884238,15.227203
238,Oceania,909,17.540821,17.286053,17.252776,18.050693,19.569381,20.596627
239,Australia and New Zealand,927,21.82674,21.752394,22.05511,23.42573,25.744201,27.38275
242,Melanesia,928,1.636152,1.559705,1.345381,1.329028,1.212488,1.138906
248,Micronesia,954,26.273925,25.436126,26.195684,25.505582,23.133794,21.995501
256,Polynesia,957,10.66295,11.182554,11.542951,11.414741,11.060598,10.536774

In [169]:
#Split the data in different table, start fromn row 1590, tidy_table_3_male = Migrant Stock for Male
split_point = 1590
split_male_female = 3180
tidy_table_03_Male = tidy_table_03.iloc[split_point:split_male_female]
tidy_table_03_Male

,Order,Name of Country,Notes,Country Code,Type of Data(a),International Migrant Stock as Percentage of Total Population,year,Gender
1590,1,WORLD,NaN,900,NaN,2.91143,1990,Male
1591,2,Developed regions,(b),901,NaN,7.251326,1990,Male
1592,3,Developing regions,(c),902,NaN,1.772158,1990,Male
1593,4,Least developed countries,(d),941,NaN,2.30005,1990,Male
1594,5,Less developed regions excluding least develop...,NaN,934,NaN,1.700101,1990,Male
...,...,...,...,...,...,...,...,...
3175,261,Samoa,NaN,882,B,2.477821,2015,Male
3176,262,Tokelau,NaN,772,B,..,2015,Male
3177,263,Tonga,NaN,776,B,5.873514,2015,Male
3178,264,Tuvalu,NaN,798,C,..,2015,Male
3179,265,Wallis and Futuna Islands,NaN,876,B,..,2015,Male

In [170]:
tidy_table_03_Male.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"International Migrant Stock as Percentage of Total Population for Male","year","Gender"]
tidy_table_3_Male = tidy_table_03_Male.drop("Gender",axis=1)
tidy_table_3_Male

,Order,Name of Country,Notes,Country Code,Type of Data(a),International Migrant Stock as Percentage of Total Population for Male,year
1590,1,WORLD,NaN,900,NaN,2.91143,1990
1591,2,Developed regions,(b),901,NaN,7.251326,1990
1592,3,Developing regions,(c),902,NaN,1.772158,1990
1593,4,Least developed countries,(d),941,NaN,2.30005,1990
1594,5,Less developed regions excluding least develop...,NaN,934,NaN,1.700101,1990
...,...,...,...,...,...,...,...
3175,261,Samoa,NaN,882,B,2.477821,2015
3176,262,Tokelau,NaN,772,B,..,2015
3177,263,Tonga,NaN,776,B,5.873514,2015
3178,264,Tuvalu,NaN,798,C,..,2015
3179,265,Wallis and Futuna Islands,NaN,876,B,..,2015

In [171]:
table3_male=tidy_table_3_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['International Migrant Stock as Percentage of Total Population for Male'].aggregate('first').unstack()

In [172]:
table03_Continent_or_region_male = table3_male.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table03_Continent_or_region_male

,,year,1990,1995,2000,2005,2010,2015
Order,Name of Country,Country Code,,,,,,
1,WORLD,900,2.91143,2.831583,2.849206,2.979124,3.280341,3.4019
2,Developed regions,901,7.251326,7.935123,8.743236,9.73154,10.680972,11.097807
3,Developing regions,902,1.772158,1.580624,1.490031,1.507122,1.746117,1.888268
4,Least developed countries,941,2.30005,2.103476,1.617552,1.432574,1.293264,1.35773
5,Less developed regions excluding least developed countries,934,1.700101,1.505273,1.470597,1.519189,1.823509,1.984593
6,Sub-Saharan Africa,947,3.166642,2.868405,2.253275,2.035414,1.951951,2.099456
7,Africa,903,2.627838,2.397529,1.933132,1.791037,1.732533,1.874351
8,Eastern Africa,910,3.127208,2.316782,1.928733,1.712288,1.389789,1.585226
29,Middle Africa,911,2.124993,3.24112,1.895932,1.768351,1.67852,1.530047
39,Northern Africa,912,1.746067,1.395793,1.213971,1.132812,1.120502,1.137404
47,Southern Africa,913,4.050495,3.062058,2.85141,3.083939,4.405848,6.621987
53,Western Africa,914,2.640948,2.762221,2.281436,2.083785,2.035038,1.982697
71,Asia,935,1.591199,1.41992,1.415707,1.467625,1.791493,1.93817
72,Central Asia,5500,12.018987,10.070566,8.55138,8.451027,8.158117,7.84766
78,Eastern Asia,906,0.287171,0.306352,0.333934,0.373386,0.412094,0.433708
86,South-Eastern Asia,920,0.679642,0.789785,0.955854,1.191996,1.509312,1.618983
98,Southern Asia,5501,1.727254,1.23096,1.123227,0.923635,0.906067,0.820059
106,Pakistan,586,5.852335,3.079742,3.154311,2.161883,2.373092,1.91045
127,Europe,908,6.89398,7.305716,7.775789,8.798595,9.78368,10.184163
128,Eastern Europe,923,6.942883,6.828278,6.747861,6.67634,6.520844,6.749442
139,Northern Europe,924,7.093783,7.510984,8.065235,9.693087,11.649945,12.655967
153,Southern Europe,925,2.940433,4.059356,5.095241,7.956131,10.456902,9.928114
170,Western Europe,926,9.949418,10.576792,11.39549,12.292275,13.158167,14.115656
180,Latin America and the Caribbean,904,1.620362,1.385971,1.258117,1.288152,1.378939,1.461858
181,Caribbean,915,3.230981,3.300624,3.392587,3.429319,3.337613,3.275454
108,Western Asia,922,11.829791,11.770699,11.750751,12.648807,16.473136,18.304749
217,South America,931,1.449893,1.313898,1.203045,1.198625,1.288584,1.38572
232,Northern America,905,9.797857,11.270659,12.907205,13.879934,14.719293,14.988151
238,Oceania,909,17.871046,17.445726,17.206416,17.890471,19.372585,20.295135
239,Australia and New Zealand,927,22.273081,22.000926,22.056242,23.282376,25.555114,27.065694
242,Melanesia,928,1.779376,1.707741,1.478427,1.47192,1.337333,1.260585
248,Micronesia,954,28.343618,26.471342,26.080425,25.200357,23.034756,22.032643
256,Polynesia,957,11.529571,11.983786,12.281782,12.083463,11.687008,11.126613

In [173]:
#Split the data in different table, start fromn row 3180, tidy_table_1_female = Migrant Stock for female
split_male_female = 3180
tidy_table_3_female = tidy_table_03.iloc[split_male_female:]
tidy_table_3_female

,Order,Name of Country,Notes,Country Code,Type of Data(a),International Migrant Stock as Percentage of Total Population,year,Gender
3180,1,WORLD,NaN,900,NaN,2.83474,1990,Female
3181,2,Developed regions,(b),901,NaN,7.147777,1990,Female
3182,3,Developing regions,(c),902,NaN,1.595116,1990,Female
3183,4,Least developed countries,(d),941,NaN,2.045276,1990,Female
3184,5,Less developed regions excluding least develop...,NaN,934,NaN,1.530877,1990,Female
...,...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2.628654,2015,Female
4766,262,Tokelau,NaN,772,B,..,2015,Female
4767,263,Tonga,NaN,776,B,4.919612,2015,Female
4768,264,Tuvalu,NaN,798,C,..,2015,Female
4769,265,Wallis and Futuna Islands,NaN,876,B,..,2015,Female

In [174]:
tidy_table_3_female.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"International Migrant Stock as Percentage of Total Population for female","year","Gender"]
tidy_table_3_female = tidy_table_3_female.drop("Gender",axis=1)
tidy_table_3_female

,Order,Name of Country,Notes,Country Code,Type of Data(a),International Migrant Stock as Percentage of Total Population for female,year
3180,1,WORLD,NaN,900,NaN,2.83474,1990
3181,2,Developed regions,(b),901,NaN,7.147777,1990
3182,3,Developing regions,(c),902,NaN,1.595116,1990
3183,4,Least developed countries,(d),941,NaN,2.045276,1990
3184,5,Less developed regions excluding least develop...,NaN,934,NaN,1.530877,1990
...,...,...,...,...,...,...,...
4765,261,Samoa,NaN,882,B,2.628654,2015
4766,262,Tokelau,NaN,772,B,..,2015
4767,263,Tonga,NaN,776,B,4.919612,2015
4768,264,Tuvalu,NaN,798,C,..,2015
4769,265,Wallis and Futuna Islands,NaN,876,B,..,2015

In [175]:
table3_female = tidy_table_3_female.reset_index().groupby(['Order','Name of Country','Country Code','year'])['International Migrant Stock as Percentage of Total Population for female'].aggregate('first').unstack()

In [ ]:
table03_Continent_or_region_female = table3_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,106,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table03_Continent_or_region_female

########Table_4##########

In [ ]:
table_04

In [ ]:
table_4_1 = table_04.drop(table_04.index[0:15])
table_4_1 #Drop 0-15 rows

In [179]:
table_4_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',
                   '1990 Female Migrants Stock Percentage Performance',
                   '1995 Female Migrants Stock Percentage Performance',
                   '2000 Female Migrants Stock Percentage Performance',
                   '2005 Female Migrants Stock Percentage Performance',
                   '2010 Female Migrants Stock Percentage Performance',
                   '2015 Female Migrants Stock Percentage Performance']

In [180]:
tidy_table_04 = table_4_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Female Migrants Stock Percentage Performance")

In [ ]:
tidy_table_04

In [ ]:
tidy_table_04=(tidy_table_04.assign(Year = lambda x: x.Years.str[:4].astype(str), Gender = lambda x: x.Years.str[5:11].astype(str)).drop("Years",axis=1))
tidy_table_04.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
tidy_table_4_female = tidy_table_04.drop("Gender",axis=1)
tidy_table_4_female

In [184]:
table4_female = tidy_table_4_female.reset_index().groupby(['Order','Name of Country','Country Code','Year'])['Female Migrants Stock Percentage Performance'].aggregate('first').unstack()

In [ ]:
table04_Continent_or_region_female = table4_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table04_Continent_or_region_female

###########Table_5############

In [ ]:
table_05

In [ ]:
table_5_1 = table_05.drop(table_05.index[0:15])
table_5_1 #Drop 0-15 rows

In [106]:
table_5_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990-1995 Annual rate of change Both Sex',
                  '1995-2000 Annual rate of change Both Sex','2000-2005 Annual rate of change Both Sex',
                  '2005-2010 Annual rate of change Both Sex','2010-2015 Annual rate of change Both Sex',
                  '1990-1995 Annual rate of change Male','1995-2000 Annual rate of change Male',
                  '2000-2005 Annual rate of change Male','2005-2010 Annual rate of change Male',
                  '2010-2015 Annual rate of change Male','1990-1995 Annual rate of change Female',
                  '1995-2000 Annual rate of change Female','2000-2005 Annual rate of change Female',
                  '2005-2010 Annual rate of change Female','2010-2015 Annual rate of change Female']

In [107]:
tidy_table_05 = table_5_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Annual Rate of Change of Migrant Stock")

In [ ]:
tidy_table_05.head(2700)

In [ ]:
tidy_table_05=(tidy_table_05.assign(Year_Range = lambda x: x.Years.str[:9].astype(str), Gender = lambda x: x.Years.str[31:].astype(str)).drop("Years",axis=1))
tidy_table_05.sort_values(by ='Order').reset_index().drop(columns = 'index') #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
#Splite the table with Gender
split_point = 1590
print(split_point)
tidy_table_05_Both_sexes = tidy_table_05.iloc[:split_point]
tidy_table_05_Both_sexes

In [ ]:
tidy_table_05_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Annual rate of change of Migrant Stock for Both Sex","year","Gender"]
tidy_table_5_Both_sexes = tidy_table_05_Both_sexes.drop("Gender",axis=1)
tidy_table_5_Both_sexes

In [111]:
table5_Bothsexes = tidy_table_5_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Annual rate of change of Migrant Stock for Both Sex'].aggregate('first').unstack()

In [ ]:
table05_Continent_or_region_BothSexes = table5_Bothsexes.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table05_Continent_or_region_BothSexes

In [ ]:
split_point = 1590
split_male_female = 2650
tidy_table_05_Male = tidy_table_05.iloc[split_point:split_male_female]
tidy_table_05_Male

In [ ]:
tidy_table_05_Male.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Annual rate of change of Migrant Stock for Male","year","Gender"]
tidy_table_5_Male = tidy_table_05_Male.drop("Gender",axis=1)
tidy_table_5_Male

In [88]:
table5_male = tidy_table_5_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Annual rate of change of Migrant Stock for Male'].aggregate('first').unstack()

In [ ]:
table05_Continent_or_region_male = table5_male.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table05_Continent_or_region_male

In [ ]:
#Split the data in different table, start fromn row 3180, tidy_table_1_female = Migrant Stock for female
split_male_female = 2650
tidy_table_5_female = tidy_table_05.iloc[split_male_female:]
tidy_table_5_female

In [ ]:
tidy_table_5_female.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Annual rate of change of Migrant Stock for female","Year_Range","Gender"]
tidy_table_5_female = tidy_table_5_female.drop("Gender",axis=1)
tidy_table_5_female

In [191]:
table5_female = tidy_table_5_female.reset_index().groupby(['Order','Name of Country','Country Code','Type of Data(a)','Year_Range'])['Annual rate of change of Migrant Stock for female'].aggregate('first').unstack()

In [194]:
table05_Continent_or_region_female = table5_female.loc[[1,2,3,4,5,6,7,8,29,39,47,53,71,72,78,86,98,127,128,139,153,170,180,181,108,217,232,238,239,242,248,256], :]
table05_Continent_or_region_female

KeyError: ignored

#########Table_06#########

In [ ]:
table_06

In [ ]:
table_6_1 = table_06.drop(table_06.index[0:15])
table_6_1 #Drop 0-15 rows

In [ ]:
table_6_1.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)','1990 Estimated refugee stock at mid-year both sexes',
                  '1995 Estimated refugee stock at mid-year both sexes','2000 1995 Estimated refugee stock at mid-year both sexes',
                  '2005 1995 Estimated refugee stock at mid-year both sexes',
                  '2010 1995 Estimated refugee stock at mid-year both sexes','2015 1995 Estimated refugee stock at mid-year both sexes',
                  '1990 Refugees as a percentage of the international migrant stock',
                  '1995 Refugees as a percentage of the international migrant stock',
                  '2000 Refugees as a percentage of the international migrant stock',
                  '2005 Refugees as a percentage of the international migrant stock',
                  '2010 Refugees as a percentage of the international migrant stock',
                  '2015 Refugees as a percentage of the international migrant stock',
                  '1990-1995 Annual rate of change of the refugee stock',
                  '1995-2000 Annual rate of change of the refugee stocke',
                  '2000-2005 Annual rate of change of the refugee stock',
                  '2005-2010 Annual rate of change of the refugee stock',
                  '2010-2015 Annual rate of change of the refugee stock']

In [ ]:
table_6_1

In [ ]:
tidy_table_06 = table_6_1.melt(id_vars=["Order","Name of Country","Notes","Country Code","Type of Data(a)"],var_name="Years",value_name="Refugee Stocks")
tidy_table_06

In [ ]:
tidy_table_06[['Year', 'Annual_Rate_of_Change']] = tidy_table_06['Years'].str.split(' ', 1, expand=True)
tidy_table_06.drop("Years",axis=1)

In [ ]:
tidy_table_06["Gender"] = tidy_table_06.Annual_Rate_of_Change.apply(lambda x: "Both Sexes" if "both sexes" in x else "NaN")
table_06_1 = tidy_table_06.drop("Annual_Rate_of_Change",axis=1)
table_06_1_1 = table_06_1.drop("Years",axis=1)

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_1_Both_sexes = Migrant Stock for Both Sexes
split_point = 1590
print(split_point)
tidy_table_06_Both_sexes = table_06_1_1.iloc[:split_point]
tidy_table_06_Both_sexes

In [ ]:
tidy_table_06_Both_sexes.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Estimated refugee stock at mid-year both sexes","year","Gender"]
tidy_table_6_Both_sexes = tidy_table_06_Both_sexes.drop("Gender",axis=1)
tidy_table_6_Both_sexes

In [ ]:
tidy_table_6_Both_sexes.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Estimated refugee stock at mid-year both sexes'].aggregate('first').unstack()

In [ ]:
#Split the data in different table, start fromn row 1590, tidy_table_1_male = Migrant Stock for Male
split_point = 1590
split_male_female = 3180
tidy_table_06_Male = table_06_1_1.iloc[split_point:split_male_female]
tidy_table_06_Male

In [ ]:
tidy_table_06_Male.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Refugees as a percentage of the international migrant stock","year","Gender"]
tidy_table_6_Male = tidy_table_06_Male.drop("Gender",axis=1)
tidy_table_6_Male

In [ ]:
tidy_table_6_Male.reset_index().groupby(['Order','Name of Country','Country Code','year'])['Refugees as a percentage of the international migrant stock'].aggregate('first').unstack()

In [ ]:
#Split the data in different table, start fromn row 3180, tidy_table_1_female = Migrant Stock for female
split_male_female = 3180
tidy_table_6_female = table_06_1_1.iloc[split_male_female:]
tidy_table_6_female

In [ ]:
tidy_table_6_female.columns=['Order','Name of Country','Notes','Country Code','Type of Data(a)',"Annual rate of change of the refugee stock","year","Gender"]
tidy_table_6_female = tidy_table_6_female.drop("Gender",axis=1)
tidy_table_6_female

In [ ]:
tidy_table_6_female.reset_index().groupby(['Name of Country','Order','Country Code','year'])['Annual rate of change of the refugee stock'].aggregate('first').unstack()