<a href="https://colab.research.google.com/github/moyanke/inf1340-programmingfordatascience-fa22/blob/main/MID__Sub_YankeMo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
df = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx')

In [5]:
table_01 = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 1')
table_02= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 2')
table_03= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 3')
table_04= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 4')
table_05= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 5')
table_06= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 6')
table_annex= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='ANNEX')
table_notes= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='NOTES')

In [ ]:
table_01

In [ ]:
table_1_1 = table_01.drop(table_01.index[0:15])
table_1_1 #Drop 0-15 rows

In [ ]:
table_1_1.columns

In [ ]:
table_1_1.columns=['Order','Name of Area','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Both Sex',
                  '1995 Migrant Stock Both Sex','2000 Migrant Stock Both Sex','2005 Migrant Stock Both Sex',
                  '2010 Migrant Stock Both Sex','2015 Migrant Stock Both Sex','1990 Migrant Stock Male',
                  '1995 Migrant Stock Male','2000 Migrant Stock Male','2005 Migrant Stock Male','2010 Migrant Stock Male',
                  '2015 Migrant Stock Male','1990 Migrant Stock Female','1995 Migrant Stock Female)','2000 Migrant Stock Female',
                  '2005 Migrant Stock Female','2010 Migrant Stock Female',
                  '2015 Migrant Stock Female']

In [ ]:
table_1_1 #rename the columns

In [ ]:
tidy_table_01 = table_1_1.melt(id_vars=["Order","Name of Area","Notes","Country Code","Type of Data(a)"],var_name="Year",value_name="Migrant Stock")

In [ ]:
tidy_table_01

In [ ]:
tidy_table_01=(tidy_table_01.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[18:].astype(str)).drop("Year",axis=1))
tidy_table_01 #Separate the Year cloumns into year, gemder, migrant stock

In [ ]:
table_02

In [ ]:
table_2_1 = table_02.drop(table_02.index[0:15])
table_2_1 #Drop 0-15 rows

In [ ]:
table_2_1.columns

In [23]:
table_2_1.columns=['Order','Name of Area','Notes','Country Code','1990 Total Population Both Sex',
                  '1995 Total Population Both Sex','2000 Total Population Both Sex','2005 Total Population Both Sex',
                  '2010 Total Population Both Sex','2015 Total Population Both Sex','1990 Total Population Male',
                  '1995 Total Population Male','2000 Total Population Male','2005 Total Populatio Male','2010 Total Population Male',
                  '2015 Total Population Male','1990 Total Population Female','1995 Total Population Female)','2000 Total Population Female',
                  '2005 Total Population Female','2010 Total Population Female',
                  '2015 Total Population Female']

In [ ]:
table_2_1

In [26]:
tidy_table_02 = table_2_1.melt(id_vars=["Order","Name of Area","Notes","Country Code"],var_name="Year",value_name="Total Population")

In [ ]:
tidy_table_02

In [ ]:
tidy_table_02=(tidy_table_02.assign(year = lambda x: x.Year.str[:4].astype(str), Gender = lambda x: x.Year.str[22:].astype(str)).drop("Year",axis=1))
tidy_table_02 #Separate the Year cloumns into year, gemder, total population