<a href="https://colab.research.google.com/github/moyanke/inf1340-programmingfordatascience-fa22/blob/main/MID__Sub_YankeMo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
df = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx')

In [4]:
table_01 = pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 1')
table_02= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 2')
table_03= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 3')
table_04= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 4')
table_05= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 5')
table_06= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='Table 6')
table_annex= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='ANNEX')
table_notes= pd.read_excel('/content/UN_MigrantStockTotal_2015.xlsx', sheet_name='NOTES')

In [5]:
table_01.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,United Nations,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Population Division,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
table_01.info

<bound method DataFrame.info of     Unnamed: 0                 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0          NaN                        NaN        NaN        NaN
1          NaN                        NaN        NaN        NaN
2          NaN                        NaN        NaN        NaN
3          NaN                        NaN        NaN        NaN
4          NaN                        NaN        NaN        NaN
..         ...                        ...        ...        ...
275        261                      Samoa        NaN        882
276        262                    Tokelau        NaN        772
277        263                      Tonga        NaN        776
278        264                     Tuvalu        NaN        798
279        265  Wallis and Futuna Islands        NaN        876

              Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0                    NaN        NaN        NaN        NaN        NaN
1                    NaN        NaN        NaN        NaN        NaN
2                    NaN        NaN        NaN        NaN        NaN
3         United Nations        NaN        NaN        NaN        NaN
4    Population Division        NaN        NaN        NaN        NaN
..                   ...        ...        ...        ...        ...
275                    B       3357       4694       5998       5746
276                    B        270        266        262        258
277                    B       2911       3274       3684       4301
278                    C        318        263        217        183
279                    B       1402       1680       2015       2365

     Unnamed: 9  ...  Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0           NaN  ...          NaN         NaN         NaN         NaN
1           NaN  ...          NaN         NaN         NaN         NaN
2           NaN  ...          NaN         NaN         NaN         NaN
3           NaN  ...          NaN         NaN         NaN         NaN
4           NaN  ...          NaN         NaN         NaN         NaN
..          ...  ...          ...         ...         ...         ...
275      5122.0  ...         3101        2940      2594.0      2469.0
276       429.0  ...          144         133       206.0       233.0
277      5022.0  ...         1981        2328      2727.0      3127.0
278       154.0  ...          121         101        85.0        78.0
279      2776.0  ...         1018        1194      1401.0      1438.0

    Unnamed: 17  Unnamed: 18  Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22
0           NaN          NaN          NaN         NaN         NaN         NaN
1           NaN          NaN          NaN         NaN         NaN         NaN
2           NaN          NaN          NaN         NaN         NaN         NaN
3           NaN          NaN          NaN         NaN         NaN         NaN
4           NaN          NaN          NaN         NaN         NaN         NaN
..          ...          ...          ...         ...         ...         ...
275        1586         2243         2897        2806      2528.0      2460.0
276         120          119          118         125       223.0       254.0
277        1423         1556         1703        1973      2295.0      2604.0
278         138          115           96          82        69.0        63.0
279         676          821          997        1171      1375.0      1411.0

[280 rows x 23 columns]>

In [16]:
table_01.drop(table_01.index[0:15])

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
15,1,WORLD,NaN,900,NaN,152563212,160801752,172703309,191269100,221714243.0,...,87884839,97866674,114613714.0,126115435.0,74815702,79064275,84818470,93402426,107100529.0,117584801.0
16,2,Developed regions,(b),901,NaN,82378628,92306854,103375363,117181109,132560325.0,...,50536796,57217777,64081077.0,67618619.0,42115231,47214055,52838567,59963332,68479248.0,72863336.0
17,3,Developing regions,(c),902,NaN,70184584,68494898,69327946,74087991,89153918.0,...,37348043,40648897,50532637.0,58496816.0,32700471,31850220,31979903,33439094,38621281.0,44721465.0
18,4,Least developed countries,(d),941,NaN,11075966,11711703,10077824,9809634,10018128.0,...,5361902,5383009,5462714.0,6463217.0,5236216,5573685,4721920,4432371,4560536.0,5493028.0
19,5,Less developed regions excluding least develop...,NaN,934,NaN,59105261,56778501,59244124,64272611,79130668.0,...,31986141,35265888,45069923.0,52033599.0,27464255,26276535,27257983,29006723,34060745.0,39228437.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,261,Samoa,NaN,882,B,3357,4694,5998,5746,5122.0,...,3101,2940,2594.0,2469.0,1586,2243,2897,2806,2528.0,2460.0
276,262,Tokelau,NaN,772,B,270,266,262,258,429.0,...,144,133,206.0,233.0,120,119,118,125,223.0,254.0
277,263,Tonga,NaN,776,B,2911,3274,3684,4301,5022.0,...,1981,2328,2727.0,3127.0,1423,1556,1703,1973,2295.0,2604.0
278,264,Tuvalu,NaN,798,C,318,263,217,183,154.0,...,121,101,85.0,78.0,138,115,96,82,69.0,63.0
279,265,Wallis and Futuna Islands,NaN,876,B,1402,1680,2015,2365,2776.0,...,1018,1194,1401.0,1438.0,676,821,997,1171,1375.0,1411.0

In [7]:
table_01.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22'],
      dtype='object')

In [17]:
table_01.columns=['Order','Name of Area','Notes','Country Code','Type of Data(a)','1990 Migrant Stock Both Sex',
                  '1995 Migrant Stock Both Sex','2000 Migrant Stock Both Sex','2005 Migrant Stock Both Sex',
                  '2010 Migrant Stock Both Sex','2015 Migrant Stock Both Sex','1990 Migrant Stock(male)',
                  '1995 Migrant Stock(male)','2000 Migrant Stock(male)','2005 Migrant Stock(male)','2010 Migrant Stock(male)',
                  '2015 Migrant Stock(male)','1990 Migrant Stock(female)','1995 Migrant Stock(female)','2000 Migrant Stock(female)',
                  '2005 Migrant Stock(female)','2010 Migrant Stock(female)',
                  '2015 Migrant Stock(female)']

In [11]:
tidy_table_01 = table_01.melt(id_vars=["Unnamed: 0","Unnamed: 1","Unnamed: 2","Unnamed: 3","Unnamed: 4"],var_name="Year",value_name="Migrant Stock")

In [13]:
table_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   266 non-null    object
 1   Unnamed: 1   266 non-null    object
 2   Unnamed: 2   27 non-null     object
 3   Unnamed: 3   266 non-null    object
 4   Unnamed: 4   241 non-null    object
 5   Unnamed: 5   267 non-null    object
 6   Unnamed: 6   266 non-null    object
 7   Unnamed: 7   266 non-null    object
 8   Unnamed: 8   266 non-null    object
 9   Unnamed: 9   266 non-null    float64
 10  Unnamed: 10  266 non-null    float64
 11  Unnamed: 11  267 non-null    object
 12  Unnamed: 12  266 non-null    object
 13  Unnamed: 13  266 non-null    object
 14  Unnamed: 14  266 non-null    object
 15  Unnamed: 15  266 non-null    float64
 16  Unnamed: 16  266 non-null    float64
 17  Unnamed: 17  267 non-null    object
 18  Unnamed: 18  266 non-null    object
 19  Unnamed: 19  266 non-null    object
 20  Unnamed: 20  266 non-null    object
 21  Unnamed: 21  266 non-null    float64
 22  Unnamed: 22  266 non-null    float64
dtypes: float64(6), object(17)
memory usage: 50.4+ KB