#import excel file

In [6]:
import numpy as np
import pandas as pd
pd.set_option("display.width",1000)
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows", None)

#Contents

In [17]:
#Clean the content to understand the main idea of the excel file 
data_content = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name = "CONTENTS",index_col=[0,1])
data_content = pd.DataFrame(data_content)
data_content.style.hide_index()
data_content.drop(data_content.index[0:14],inplace=True)

In [ ]:
# display the content
data_content

#Table1

In [62]:
#Import Table 1 
data_table1 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name = "Table 1")

In [ ]:
# Clear up Table 1 and set the conlums
header_row = 13
data_table1.columns = data_table1.iloc[header_row]
print(data_table1.columns)
data1=data_table1.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])
data1.shape
data1.head()

In [64]:
# Get the numbers of rows and columns 
data1.shape

(265, 23)

In [ ]:
#Clear up the new columns (add years)
data1.columns = ("Sort\order","Major area, region, country or area of destination","Notes","Country code","Type of data (a)","1990-International migrant stock at midyear /both sexes","1995-International migrant stock at midyear /both sexes","2000-International migrant stock at midyear /both sexes","2005-International migrant stock at midyear /both sexes","2010-International migrant stock at midyear /both sexes","2015-International migrant stock at midyear /both sexes","1990-International migrant stock at midyear /male","1995-International migrant stock at midyear /male","2000-International migrant stock at midyear /male","2005-International migrant stock at midyear /male","2010-International migrant stock at midyear /male","2015-International migrant stock at midyear /male","1990-International migrant stock at midyear /female","1995-International migrant stock at midyear /female","2000-International migrant stock at midyear /female","2005-International migrant stock at midyear /female","2010-International migrant stock at midyear /female","2015-International migrant stock at midyear /female")
data1.style.hide_index()
print(data1.columns)
data1.shape
data1.head()

In [ ]:
# use melt to tidy the dataframe
data1_tidy = pd.melt(frame=data1, id_vars =["Sort\order", "Major area, region, country or area of destination",'Notes', 'Country code', 'Type of data (a)'], var_name = "Years/Sexes" , value_name = "Population of International migrant stock at mid-year")
data1_tidy.head(10)

In [ ]:
# show the numbers of rows and conlumns after melting
data1_tidy.shape

In [ ]:
# Since the years and sexes are in the same conlumns which is incompatible with tidydata principle
data1_tidy["Years/Sexes"].str.split("-").head
data1_tidy["Years/Sexes"].str.split("-",expand=True).head()
data1_tidy[["Years","Gender"]]=data1_tidy["Years/Sexes"].str.split("-",expand=True)
data1_tidy["Gender"].str.split("/").head()
data1_tidy["Gender"].str.split("/",expand=True).head()
data1_tidy[["International migrant stock at mid-year","Gender"]]=data1_tidy["Gender"].str.split("/",expand=True)
data1_tidy.head()
columns_name=list(data1_tidy.columns)
columns_name
new_columns=['Sort\\order','Major area, region, country or area of destination','Notes','Country code','Type of data (a)','International migrant stock at mid-year','Years','Gender','Population of International migrant stock at mid-year','Years/Sexes']
data1_tidy=data1_tidy[new_columns]
data1_tidy.head(50)

In [ ]:
# Drop the redundant columns
data1_tidy1=data1_tidy.drop(['Years/Sexes','International migrant stock at mid-year'], axis=1)
data1_tidy1.head()

In [ ]:
# use groupby to filter the table by "Major area, region, country or area of destination - Canada"
data1_tidy1group = data1_tidy1.groupby("Major area, region, country or area of destination")
data1_tidy1group.get_group("Canada")

In [ ]:
# use groupby to filter the table by "Gender-female"
data1_tidy1group1 = data1_tidy1.groupby("Gender")
data1_tidy1group1.get_group("female").head()

#Table2

In [ ]:
data_table2 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name = "Table 2")

In [ ]:
header_row = 13
data_table2.columns = data_table2.iloc[header_row]
print(data_table1.columns)
data2=data_table1.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])
data2.shape
data2.head()

Index(['Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Country code', 'Type of data (a)', 'International migrant stock at mid-year (both sexes)', nan, nan, nan, nan, nan, 'International migrant stock at mid-year (male)', nan, nan, nan, nan, nan, 'International migrant stock at mid-year (female)', nan, nan, nan, nan, nan], dtype='object', name=13)

13 Sort\norder Major area, region, country or area of destination Notes Country code Type of data (a) International migrant stock at mid-year (both sexes)        NaN        NaN        NaN          NaN          NaN International migrant stock at mid-year (male)       NaN       NaN       NaN          NaN          NaN International migrant stock at mid-year (female)       NaN       NaN       NaN          NaN          NaN
15           1                                              WORLD   NaN          900              NaN                                          152563212    160801752  172703309  191269100  221714243.0  243700236.0                                       77747510  81737477  87884839  97866674  114613714.0  126115435.0                                         74815702  79064275  84818470  93402426  107100529.0  117584801.0
16           2                                  Developed regions   (b)          901              NaN                                           82378628     92306854  103375363  117181109  132560325.0  140481955.0                                       40263397  45092799  50536796  57217777   64081077.0   67618619.0                                         42115231  47214055  52838567  59963332   68479248.0   72863336.0
17           3                                 Developing regions   (c)          902              NaN                                           70184584     68494898   69327946   74087991   89153918.0  103218281.0                                       37484113  36644678  37348043  40648897   50532637.0   58496816.0                                         32700471  31850220  31979903  33439094   38621281.0   44721465.0
18           4                          Least developed countries   (d)          941              NaN                                           11075966     11711703   10077824    9809634   10018128.0   11951316.0                                        5843107   6142712   5361902   5383009    5462714.0    6463217.0                                          5236216   5573685   4721920   4432371    4560536.0    5493028.0
19           5  Less developed regions excluding least develop...   NaN          934              NaN                                           59105261     56778501   59244124   64272611   79130668.0   91262036.0                                       31641006  30501966  31986141  35265888   45069923.0   52033599.0                                         27464255  26276535  27257983  29006723   34060745.0   39228437.0

In [ ]:
data2.columns = ("Sort\order","Major area, region, country or area of destination","Notes","Country code",'Type of data (a)',"1990-Total population at midyear(thousands)/both sexes","1995-Total population at midyear(thousands)/both sexes","2000-Total population at midyear(thousands)/both sexes","2005-Total population at midyear(thousands)/both sexes","2010-Total population of at midyear(thousands)/both sexes","2015-Total population at midyear(thousands)/both sexes ","1990-Total population at midyear (thousands)/male","1995-Total population at midyear (thousands)/male","2000-Total population at midyear (thousands)/male","2005-Total population at midyear (thousands)/male","2010-Total population at midyear (thousands)/male","2015-Total population at midyear (thousands)/male","1990-Total population at midyear (thousands)/female","1995-Total population at midyear (thousands)/female","2000-Total population at midyear (thousands)/female","2005-Total population at midyear (thousands)/female","2010-Total population at midyear (thousands)/female","2015-Total population at midyear (thousands)/female")
data2.style.hide_index()
data2.shape
data2.head()

In [ ]:
data2_tidy = pd.melt(frame=data2, id_vars =["Sort\order", "Major area, region, country or area of destination",'Notes', 'Country code', 'Type of data (a)'], var_name = "Years/Sexes" , value_name = "Total Population at mid-year (Thousands)")
data2_tidy.head(10)

In [ ]:
data2_tidy.shape

In [ ]:
data2_tidy["Years/Sexes"].str.split("-").head

In [ ]:
data2_tidy["Years/Sexes"].str.split("-",expand=True).head()

In [ ]:
data2_tidy[["Years","Gender"]]=data2_tidy["Years/Sexes"].str.split("-",expand=True)
data2_tidy.head()

In [ ]:
data2_tidy["Gender"].str.split("/").head()

In [ ]:
data2_tidy["Gender"].str.split("/",expand=True).head()

In [ ]:
data2_tidy[["Total Population at mid-year","Gender"]]=data1_tidy["Gender"].str.split("/",expand=True)
data2_tidy.head()

In [ ]:
columns_name2=list(data2_tidy.columns)
columns_name2

In [ ]:
new_columns2=['Sort\order','Major area, region, country or area of destination','Notes','Country code','Type of data (a)','Years',"Gender",'Total Population at mid-year (Thousands)','Total Population at mid-year','Years/Sexes']

In [ ]:
data2_tidy=data2_tidy[new_columns2]
data2_tidy.head(50)

In [ ]:
data2_tidy1=data2_tidy.drop(['Years/Sexes','Total Population at mid-year'], axis=1)
data2_tidy1.head()

  Sort\order Major area, region, country or area of destination Notes Country code Type of data (a) Years      Gender Total Population at mid-year (Thousands)
0          1                                              WORLD   NaN          900              NaN  1990  both sexes                                152563212
1          2                                  Developed regions   (b)          901              NaN  1990  both sexes                                 82378628
2          3                                 Developing regions   (c)          902              NaN  1990  both sexes                                 70184584
3          4                          Least developed countries   (d)          941              NaN  1990  both sexes                                 11075966
4          5  Less developed regions excluding least develop...   NaN          934              NaN  1990  both sexes                                 59105261

#Table3

In [ ]:
data_table3 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name = "Table 3")

In [ ]:
header_row = 13
data_table3.columns = data_table3.iloc[header_row]
print(data_table3.columns)
data3=data_table3.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])
data3.shape
data3.head()

In [ ]:
data3.columns = ("Sort\order","Major area, region, country or area of destination","Notes","Country code","Type of data (a)","1990-International migrant stock as a percentage of the total population /both sexes","1995-International migrant stock as a percentage of the total population /both sexes","2000-International migrant stock as a percentage of the total population /both sexes","2005-International migrant stock as a percentage of the total population /both sexes","2010-International migrant stock as a percentage of the total population /both sexes","2015-International migrant stock as a percentage of the total population /both sexes","1990-International migrant stock as a percentage of the total population /male","1995-International migrant stock as a percentage of the total population /male","2000-International migrant stock as a percentage of the total population /male","2005-International migrant stock as a percentage of the total population /male","2010-International migrant stock as a percentage of the total population /male","2015-International migrant stock as a percentage of the total population /male","1990-International migrant stock as a percentage of the total population /female","1995-International migrant stock as a percentage of the total population /female","2000-International migrant stock as a percentage of the total population /female","2005-International migrant stock as a percentage of the total population /female","2010-International migrant stock as a percentage of the total population /female","2015-International migrant stock as a percentage of the total population /female")
data3.style.hide_index()
data3.shape
data3.head()

In [ ]:
data3_tidy=data3.melt(id_vars = ["Sort\order","Major area, region, country or area of destination","Notes","Country code","Type of data (a)"],var_name = "Years/Sexes", value_name= "International migrant stock as a percentage of the total population")
data3_tidy.head()

In [ ]:
data3_tidy["Years/Sexes"].str.split("-").head

In [ ]:
data3_tidy["Years/Sexes"].str.split("-",expand=True).head()

In [ ]:
data3_tidy[["Years","Gender"]]=data3_tidy["Years/Sexes"].str.split("-",expand=True)
data3_tidy.head()

In [ ]:
data3_tidy["Gender"].str.split("/").head()

In [ ]:
data3_tidy["Gender"].str.split("/",expand=True).head()

In [ ]:
data3_tidy[["title","Gender"]]=data3_tidy["Gender"].str.split("/",expand=True)
data3_tidy.head()

In [ ]:
columns_name3=list(data3_tidy.columns)
columns_name3

In [ ]:
new_columns3=['Sort\\order','Major area, region, country or area of destination','Notes','Country code','Type of data (a)','Years','Gender','International migrant stock as a percentage of the total population','Years/Sexes',"title"]

In [ ]:
data3_tidy=data3_tidy[new_columns3]
data3_tidy.head(50)

In [ ]:
data3_tidy1=data3_tidy.drop(['Years/Sexes','title'], axis=1)
data3_tidy1.head()

#Table4

In [ ]:
data_table4 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name = "Table 4")
data_table4.head(14)

     Unnamed: 0                                         Unnamed: 1 Unnamed: 2    Unnamed: 3                                         Unnamed: 4                                         Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  Unnamed: 9  Unnamed: 10
0           NaN                                                NaN        NaN           NaN                                                NaN                                                NaN        NaN        NaN        NaN         NaN          NaN
1           NaN                                                NaN        NaN           NaN                                                NaN                                                NaN        NaN        NaN        NaN         NaN          NaN
2           NaN                                                NaN        NaN           NaN                                                NaN                                                NaN        NaN        NaN        NaN         NaN          NaN
3           NaN                                                NaN        NaN           NaN                                     United Nations                                                NaN        NaN        NaN        NaN         NaN          NaN
4           NaN                                                NaN        NaN           NaN                                Population Division                                                NaN        NaN        NaN        NaN         NaN          NaN
5           NaN                                                NaN        NaN           NaN          Department of Economic and Social Affairs                                                NaN        NaN        NaN        NaN         NaN          NaN
6           NaN                                                NaN        NaN           NaN                                                NaN                                                NaN        NaN        NaN        NaN         NaN          NaN
7           NaN                                                NaN        NaN           NaN  Trends in International Migrant Stock: The 201...                                                NaN        NaN        NaN        NaN         NaN          NaN
8           NaN                                                NaN        NaN           NaN  Table 4 - Female migrants as a percentage of t...                                                NaN        NaN        NaN        NaN         NaN          NaN
9           NaN                                                NaN        NaN           NaN                          POP/DB/MIG/Stock/Rev.2015                                                NaN        NaN        NaN        NaN         NaN          NaN
10          NaN                                                NaN        NaN           NaN  December 2015 - Copyright © 2015 by United Nat...                                                NaN        NaN        NaN        NaN         NaN          NaN
11          NaN                                                NaN        NaN           NaN  Suggested citation: United Nations, Department...                                                NaN        NaN        NaN        NaN         NaN          NaN
12          NaN                                                NaN        NaN           NaN                                                NaN                                                NaN        NaN        NaN        NaN         NaN          NaN
13  Sort\norder  Major area, region, country or area of destina...      Notes  Country code                                   Type of data (a)  Female migrants as a percentage of the interna...        NaN        NaN        NaN         NaN          NaN

In [ ]:
header_row = 13
data_table4.columns = data_table4.iloc[header_row]
print(data_table4.columns)
data4=data_table4.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])
data4.shape
data4.head()

Index(['Sort\norder', 'Major area, region, country or area of destination', 'Notes', 'Country code', 'Type of data (a)', 'Female migrants as a percentage of the international migrant stock', nan, nan, nan, nan, nan], dtype='object', name=13)

13 Sort\norder Major area, region, country or area of destination Notes Country code Type of data (a) Female migrants as a percentage of the international migrant stock        NaN        NaN        NaN        NaN        NaN
15           1                                              WORLD   NaN          900              NaN                                           49.03915                   49.16879  49.112244  48.832993  48.305660  48.249769
16           2                                  Developed regions   (b)          901              NaN                                          51.123977                  51.149024  51.113307  51.171501  51.658932  51.866687
17           3                                 Developing regions   (c)          902              NaN                                          46.592099                  46.500135  46.128444  45.134297  43.319780  43.327078
18           4                          Least developed countries   (d)          941              NaN                                          47.261155                  47.571664  46.826689  45.157406  45.499573  45.942752
19           5  Less developed regions excluding least develop...   NaN          934              NaN                                          46.466684                  46.279022  46.009598  45.130768  43.043672  42.984398

In [ ]:
data4.columns = ("Sort\order","Major area, region, country or area of destination","Notes","Country code","Type of data (a)","1990-Female migrants as a percentage of the international migrant stock","1995-Female migrants as a percentage of the international migrant stock","2000-Female migrants as a percentage of the international migrant stock","2005-Female migrants as a percentage of the international migrant stock","2010-Female migrants as a percentage of the international migrant stock","2015-Female migrants as a percentage of the international migrant stock")
data4.style.hide_index()
data4.shape
data4.head()

   Sort\order Major area, region, country or area of destination Notes Country code Type of data (a) 1990-Female migrants as a percentage of the international migrant stock 1995-Female migrants as a percentage of the international migrant stock 2000-Female migrants as a percentage of the international migrant stock 2005-Female migrants as a percentage of the international migrant stock  2010-Female migrants as a percentage of the international migrant stock  2015-Female migrants as a percentage of the international migrant stock
15          1                                              WORLD   NaN          900              NaN                                           49.03915                                                                49.16879                                                               49.112244                                                               48.832993                                                               48.305660                                                                48.249769
16          2                                  Developed regions   (b)          901              NaN                                          51.123977                                                               51.149024                                                               51.113307                                                               51.171501                                                               51.658932                                                                51.866687
17          3                                 Developing regions   (c)          902              NaN                                          46.592099                                                               46.500135                                                               46.128444                                                               45.134297                                                               43.319780                                                                43.327078
18          4                          Least developed countries   (d)          941              NaN                                          47.261155                                                               47.571664                                                               46.826689                                                               45.157406                                                               45.499573                                                                45.942752
19          5  Less developed regions excluding least develop...   NaN          934              NaN                                          46.466684                                                               46.279022                                                               46.009598                                                               45.130768                                                               43.043672                                                                42.984398

#Table5

In [ ]:
data_table5 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name = "Table 5")
data_table5.head(14)

In [ ]:
header_row = 13
data_table5.columns = data_table5.iloc[header_row]
print(data_table5.columns)
data5=data_table5.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])
data5.shape
data5.head()

In [ ]:
data5.columns = ("Sort\order","Major area, region, country or area of destination","Notes","Country code","Type of data (a)","1990-1995 Annual rate of change of the migrant stock (both sexes)","1995-2000 Annual rate of change of the migrant stock (both sexes)","2000-2005 Annual rate of change of the migrant stock (both sexes)","2005-2010 Annual rate of change of the migrant stock (both sexes)","2010-2015 Annual rate of change of the migrant stock (both sexes)","1990-1995 Annual rate of change of the migrant stock (male)","1995-2000 Annual rate of change of the migrant stock (male)","2000-2005 Annual rate of change of the migrant stock (male)","2005-2010 Annual rate of change of the migrant stock (male)","2010-2015 Annual rate of change of the migrant stock (male)","1990-1995 Annual rate of change of the migrant stock (female)","1995-2000 Annual rate of change of the migrant stock (female)","2000-2005 Annual rate of change of the migrant stock (female)","2005-2010 Annual rate of change of the migrant stock (female)","2010-2015 Annual rate of change of the migrant stock (female)")
data5.style.hide_index()
data5.shape
data5.head()

#Table6

In [ ]:
#Import Tbale 6 into python environment
data_table6 = pd.read_excel("/content/UN_MigrantStockTotal_2015.xlsx",sheet_name = "Table 6")
data_table6.head(14)

In [ ]:
#Drop redundant rows and set columns for the table
header_row = 13
data_table6.columns = data_table6.iloc[header_row]
print(data_table6.columns)
data6=data_table6.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])
data6.shape
data6.head()

In [ ]:
# Rename and clear up the new columns 
data6.columns = ("Sort\order","Major area, region, country or area of destination","Notes","Country code","Type of data (a)","1990-Estimated refugee stock at midyear /both sexes","1995-Estimated refugee stock at midyear /both sexes","2000-Estimated refugee stock at midyear /both sexes","2005-Estimated refugee stock at midyear /both sexes","2010-Estimated refugee stock at midyear /both sexes","2015-Estimated refugee stock at midyear /both sexes","1990-Refugees as a percentage of the international migrant stock","1995-Refugees as a percentage of the international migrant stock","2000-Refugees as a percentage of the international migrant stock","2005-Refugees as a percentage of the international migrant stock","2010-Refugees as a percentage of the international migrant stock","2015-Refugees as a percentage of the international migrant stock","1990-1995/Annual rate of change of the refugee stock","1995-2000/Annual rate of change of the refugee stock","2000-2005/Annual rate of change of the refugee stock","2005-2010/Annual rate of change of the refugee stock","2010-2015/Annual rate of change of the refugee stock")
data6.style.hide_index()
data6.head()

In [29]:
#show numbers of row and columns
data6.shape

(265, 22)

Table6-1-"Estimated refugee stock at mid-year (both sexes) from 1990-2015"

In [ ]:
#Since table 6 covers three different unrelated data content, split the table to make it more concise
print("Estimated refugee stock at mid-year (both sexes) from 1990-2015")
data6_estrefugee=data6.loc[:,("Sort\order","Major area, region, country or area of destination","Notes","Country code","Type of data (a)","1990-Estimated refugee stock at midyear /both sexes","1995-Estimated refugee stock at midyear /both sexes","2000-Estimated refugee stock at midyear /both sexes","2005-Estimated refugee stock at midyear /both sexes","2010-Estimated refugee stock at midyear /both sexes","2015-Estimated refugee stock at midyear /both sexes")]
data6_estrefugee.head()

In [ ]:
#the first part of table 6 - "Estimated refugee stock at mid-year"
print("Estimated refugee stock at mid-year")
data6_estrefugeetidy = pd.melt(frame=data6_estrefugee, id_vars =["Sort\order", "Major area, region, country or area of destination",'Notes', 'Country code', 'Type of data (a)'], var_name = "Years/Sexes" , value_name = "Estimated refugee stock at midyear")
data6_estrefugeetidy.head(10)

In [ ]:
#clear up the columns name to ensure that each columns only contain a variable
data6_estrefugeetidy["Years/Sexes"].str.split("-").head
data6_estrefugeetidy["Years/Sexes"].str.split("-",expand=True).head()
data6_estrefugeetidy[["Years","Gender"]]=data6_estrefugeetidy["Years/Sexes"].str.split("-",expand=True)
data6_estrefugeetidy.head()
data6_estrefugeetidy["Gender"].str.split("/").head()
data6_estrefugeetidy[["Estimated refugee stock at mid-year","Gender"]]= data6_estrefugeetidy["Gender"].str.split("/", expand=True)
data6_estrefugeetidy.head()
columns_name6_1=list(data6_estrefugeetidy.columns)
columns_name6_1
new_columns6_1=['Sort\\order','Major area, region, country or area of destination','Notes','Country code','Type of data (a)','Years','Gender','Estimated refugee stock at midyear','Estimated refugee stock at mid-year','Years/Sexes']
data6_estrefugeetidy=data6_estrefugeetidy[new_columns6_1]
data6_estrefugeetidy.head()

In [ ]:
#Drop redundant colunms
data6_estrefugeetidy1=data6_estrefugeetidy.drop(['Estimated refugee stock at mid-year',"Years/Sexes"], axis=1)
data6_estrefugeetidy1.head()

Table6-2-"Refugees as a percentage of the international migrant stock"

In [ ]:
# the second part of table 6 - ""Refugees as a percentage of the international migrant stock"
print("Refugees as a percentage of the international migrant stock")
data6_refugeepercent=data6.loc[:,("Sort\order","Major area, region, country or area of destination","Notes","Country code","Type of data (a)","1990-Refugees as a percentage of the international migrant stock",	"1995-Refugees as a percentage of the international migrant stock","2000-Refugees as a percentage of the international migrant stock","2005-Refugees as a percentage of the international migrant stock","2010-Refugees as a percentage of the international migrant stock","2015-Refugees as a percentage of the international migrant stock")]
data6_refugeepercent.head()

In [ ]:
# tidy the dataframe - "Refugees as a percentage of the international migrant stock"
print("Refugees as a percentage of the international migrant stock")
data6_refugeepercent = pd.melt(frame=data6_refugeepercent, id_vars =["Sort\order", "Major area, region, country or area of destination",'Notes', 'Country code', 'Type of data (a)'], var_name = "Years/Title" , value_name = "Refugees as a percentage of the international migrant stock")
data6_refugeepercent.head(10)

In [ ]:
#clear up the columns name to ensure that each columns only contain a variable
data6_refugeepercent["Years/Title"].str.split("-").head
data6_refugeepercent["Years/Title"].str.split("-",expand=True).head()
data6_refugeepercent[["Years","Titlle"]]=data6_refugeepercent["Years/Title"].str.split("-",expand=True)
data6_refugeepercent.head()

In [ ]:
# Clear up and rearrange the columns for the second part of Table 6
columns_name6_2=list(data6_refugeepercent.columns)
columns_name6_2
new_columns6_2=['Sort\\order','Major area, region, country or area of destination','Notes','Country code','Type of data (a)',"Years",'Refugees as a percentage of the international migrant stock','Years/Title',"Titlle"]
data6_refugeepercenttidy=data6_refugeepercent[new_columns6_2]
data6_refugeepercenttidy.head()

In [ ]:
# Drop redundant colunms
data6_refugeepercenttidy1=data6_refugeepercenttidy.drop(['Years/Title',"Titlle"], axis=1)
data6_refugeepercenttidy1.head()

Table6-3-"Annual rate of change of the refugee stock from 1990-2015"

In [ ]:
# the second part of table 6 - "Annual rate of change of the refugee stock from 1990-2015"
print("Annual rate of change of the refugee stock from 1990-2015")
data6_annualratechange=data6.loc[:,("Sort\order","Major area, region, country or area of destination","Notes","Country code","Type of data (a)","1990-1995/Annual rate of change of the refugee stock","1995-2000/Annual rate of change of the refugee stock","2000-2005/Annual rate of change of the refugee stock","2005-2010/Annual rate of change of the refugee stock","2010-2015/Annual rate of change of the refugee stock")]
data6_annualratechange.head()

In [ ]:
# tidy the dataframe - "Annual rate of change of the refugee stock from 1990-2015"
print("Annual rate of change of the refugee stock from 1990-2015")
data6_annualratechange = pd.melt(frame=data6_annualratechange, id_vars =["Sort\order", "Major area, region, country or area of destination",'Notes', 'Country code', 'Type of data (a)'], var_name = "Years/Title" , value_name = "Annual rate of change of the refugee stock from 1990-2015")
data6_annualratechange.head(10)

In [ ]:
#clear up the columns name to ensure that each columns only contain a variable
print("Annual rate of change of the refugee stock from 1990-2015")
data6_annualratechange["Years/Title"].str.split("/").head
data6_annualratechange["Years/Title"].str.split("/",expand=True).head()
data6_annualratechange[["Years","Titlle"]]=data6_annualratechange["Years/Title"].str.split("/",expand=True)
data6_annualratechange.head()

In [ ]:
# Clear up and rearrange the columns for the third part of Table 6
columns_name6_3=list(data6_annualratechange.columns)
columns_name6_3
new_columns6_3=['Sort\\order','Major area, region, country or area of destination','Notes','Country code','Type of data (a)',"Years","Annual rate of change of the refugee stock from 1990-2015",'Years/Title',"Titlle","Title"]
data6_annualratechange=data6_annualratechange[new_columns6_3]
data6_annualratechange.head()

In [ ]:
# Drop redundant colunms
data6_annualratechangetidy1=data6_annualratechange.drop(['Years/Title',"Title","Titlle"], axis=1)
data6_annualratechangetidy1.head()